.is-sidebar-opened {
    .float-position-topright,
    .float-position-bottomright {
        margin-right: 281px !important;
    }
}
.editor-styles-wrapper {
    .edit-post-visual-editor__post-title-wrapper {
        > .float-position-topright,
        > .float-position-bottomright {
            margin-right: 281px !important;
        }
    }
}
@media (min-width: 782px) {
    .is-sidebar-opened {
        .premium-trigger-canvas-container[data-layout="right"] {
            .premium-popup-content {
                margin-right: 281px;
                margin-top: 61px;
            }
        }
        
    }
}