/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
 .premium-trigger-container {
	.trigger-label {
		background-color: #21759b;
		color: #fff;
		padding: 2px;
	}
}
.gpb-trigger-wrap {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.gpb-trigger-wrap {
    .gpb-popup-overlay {
        background-color: rgba(0,0,0,.5);
		bottom: 0;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		width: 100%;
	    height: 100%;
    }
}
.has-icon-align-center {
	text-align: center;
}
.has-icon-align-right {
	text-align: right;
}
.has-icon-align-left {
	text-align: left;
}
.wp-block-premium-trigger .gpb-popup-content {
	width: 400px;
	right: 0px;
	position: absolute;
	background-color: #fff;
	z-index: 10000;
	left: auto;
	opacity: 0;
	right: 0;
	top: 0px;
	bottom: 0px;
  }
.wp-block-premium-trigger .gpb-popup-content *{ 
	position: relative;
	z-index: 20000;
}
.active .gpb-popup-content,
.is-selected .gpb-popup-content,
.has-child-selected .gpb-popup-content {
    opacity: 1;
}
.admin-bar .gpb-popup-content {
	margin-top: 32px;
}
@media (min-width: 782px) {
.block-editor-page .gpb-popup-content {
	margin-right: 281px;
	margin-top: 61px;
  }
}
