/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
 .wp-block-premium-trigger {
	.has-icon-align-center {
		text-align: center;
	}
	.has-icon-align-right {
		text-align: right;
	}
	.has-icon-align-left {
		text-align: left;
	}
	.gpb-trigger-canvas-container {
		visibility: hidden;
		position: fixed;
		top: 0;
		bottom: 0;
		opacity: 0;
		right: 0;
		left: 0;
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 1000;
		transition: opacity .25s ease-in,left 0s .25s,right 0s .25s;
	
		.gpb-popup-content {
			opacity: 0;
			padding: 2em;
			z-index: 100000;
			max-width:400px;
			width:400px;
			right:-100%;
			height: 100vh;
			position:fixed;
			z-index:9998;
			transition: all 0.6s ease;
			top:0;
		}
	&[data-layout="left"] {
		.gpb-popup-content {
			right: auto;
			left: -100%;;
		}
	}
	&[data-layout="full"] {
		.gpb-popup-content {
			width: 100%;
			display: flex;
			overflow-x: hidden;
			overflow-y: auto;
			flex-direction: column;
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			opacity: 0;
			transition: transform .3s cubic-bezier(.77,.2,.05,1),opacity .4s cubic-bezier(.77,.2,.05,1),visibility .4s cubic-bezier(.77,.2,.05,1);
		}
	}
	.gpb-popup-content * {
		position: relative;
		z-index: 20000;
	}
	.gpb-popup-overlay {
		background-color: rgba(0,0,0,.5);
		bottom: 0;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: none;
	}
}
	&.active {
		.gpb-trigger-canvas-container {
		visibility: visible;
		z-index: 100000;
		opacity: 1;
		transition: opacity .25s ease-out;
		}
		.gpb-popup-overlay {
			display: block;
		}
	}
	&.active {
		.gpb-trigger-canvas-container[data-layout="right"] {
			.gpb-popup-content {		
				right:0;
				opacity: 1;
			}
		}

		.gpb-trigger-canvas-container[data-layout="left"] {
			.gpb-popup-content {		
				left:0;
				right: auto;
				opacity: 1;
			}
		}
		.gpb-trigger-canvas-container[data-layout="full"] {
			.gpb-popup-content {		
				max-width: 100%;
				overflow: hidden;
				width: 100%;
				right: auto;
				left: auto;
				box-sizing: border-box;
				opacity: 1;
			}
		}
	}
	.toggle-button {
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		z-index: 1000;
		.trigger-label {
			margin-right: 10px;
		}
		path {
			width: 18px;
			-webkit-transition: all 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
			transition: all 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
			-webkit-transform-origin: 10% 57%;
			-ms-transform-origin: 10% 57%;
			transform-origin: 10% 57%;
		}
		path:nth-child(1) {
			-webkit-transform-origin: 50% 33%;
			-ms-transform-origin: 50% 33%;
			transform-origin: 50% 33%;
		}
		&.toggled {
			path:nth-child(1) {
				transform: rotate(45deg);
				width: 18px;
				height: 6.15px;
			}
			path:nth-child(2) {
				opacity: 0;
			}
			path:nth-child(3) {
				transform: rotate(-45deg);
				width: 18px;
				height: 6.15px;
			}
		}
		&.float-position-topright  {
			position: fixed;
			top: 10px;
			right: 10px
		}
		&.float-position-topleft {
			position: fixed;
			top: 10px;
			left: 10px
		}
		&.float-position-bottomright {
			position: fixed;
			bottom: 10px;
			right: 10px
		}
		&.float-position-bottomleft {
			position: fixed;
			bottom: 10px;
			left: 10px
		}
	}
	.toggle-button[data-label="right"] {
		flex-direction: row-reverse;
		.trigger-label {
			margin-right: 0px;
			margin-left: 10px;
		}
	}
	.toggle-button[data-style="outline"] {
		padding: 10px;
	}
	.toggle-button[data-style="solid"] {
		padding: 10px;
	}
 }





@media (min-width: 782px) {
.is-sidebar-opened {
	.gpb-trigger-canvas-container[data-layout="right"] {
		.gpb-popup-content {
			margin-right: 281px;
			margin-top: 61px;
		}
	}
}
}

@media (max-width: 767px) {
	.wp-block-premium-trigger {
		.gpb-popup-content {
			width: 100%;
			max-width: 100%;
			box-sizing: border-box;
		}
	}
}
.toggle-button-close {
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}
.admin-bar {
	.gpb-popup-content{
		margin-top: 32px;
	}
}