.premium-icon-box {
    padding: 20px;
    margin-bottom: 40px;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-color: var(--pbg-global-color4);
    .premium-button {
        background-color: var(--pbg-global-color1);
        border-color: var(--pbg-global-color4);
    }

    .premium-icon-box__title {
        margin: 0;
        padding: 0;
    }

    .premium-icon-box__desc {
        margin: 0;
        padding: 0;
    }

    .premium-icon-box__btn {
        color: #000;
        box-shadow: none;
        border: none;
        outline: none;
        text-decoration: none;
        display: inline-block;
        -webkit-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;

        &:hover {
            box-shadow: none;
            border: none;
            outline: none;
            text-decoration: none;
        }

        &:focus {
            box-shadow: none;
            border: none;
            outline: none;
            text-decoration: none;
        }
    }
}

.premium-icon-box__title {
    font-size: 32px;
    font-weight: bold;
}

.premium-icon-box__desc {
    font-size: 16px;
}

.premium-icon-box__title_wrap {
    margin: 1em 0;
}

.premium-icon-box__btn_wrap {
    margin: 1em 0;

    a {
        padding: 10px 20px;
    }
}

.premium-icon-box-inline {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;

    .premium-icon-box__icon_wrap {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: flex;
    }

    .premium-icon-box__icon_center {
        align-items: center;
    }

    .premium-icon-box__icon_bottom {
        align-items: flex-end;
    }
}

.premium-icon-box-after {
    .premium-icon-box__icon_wrap {
        order: 2;
    }
}

.premium-icon-box__icon_wrap {
    i {
        font-size: 40px;
        border-radius: 10px;
    }
}
