.premium-inspector-tab {
    .components-input-control__container .components-input-control__backdrop {
        border-color: #e1e1e1 !important;
    }
    .components-text-control__input[type="number"] {
        border-radius: 0px;
        border: 1px solid #e1e1e1;
    }
    .components-form-toggle
        .components-form-toggle__input:focus
        + .components-form-toggle__track {
        outline: none;
        box-shadow: none;
    }
}
