.premium-blocks-range-control {
    margin: 15px 0px;
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .wrapper {
        position: relative;
        display: flex;

        .kemet-slider {
            position: relative;
            display: flex;
            display: -webkit-box;
            display: -ms-flexbox;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }
    }

    .input-field-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.input-field-wrapper .kemet_range_value {
    margin-left: 16px;
    margin-bottom: 0;
    flex: 0 1 88px;

    input {
        text-align: center;
        height: 30px;
        width: 100%;
    }
}

.input-field-wrapper .components-range-control.premium-range-value-input {
    flex-grow: 1;
    margin-bottom: 0;
}

.premium-range-value-input {
    width: 100%;

    .components-base-control__field {
        margin-bottom: 0px;
    }
}

.css-1u6yfd4-Wrapper {
    margin-left: 0px !important;
}

.kemet_range_value .premium-range-unit {
    margin-left: 5px;
}

.premium-blocks-range-control {
    .input-field-wrapper {
        display: none;
        width: 100%;

        &.active {
            display: flex;
            align-items: flex-start;
        }
    }

    .premium-slider-units {
        font-size: 11px;
        text-transform: uppercase;

        li.single-unit {
            display: inline-block;
            margin-left: 6px;
            width: 16px;
            text-align: center;
            user-select: none;
            opacity: 0.7;
            cursor: pointer;

            &.active {
                font-weight: bold;
                text-decoration: underline;
                opacity: 1;
            }
        }
    }
}

/**
 * Responsive Icons
 */

.description.customize-control-description {
    margin-bottom: 20px;
    color: #848484 !important;
    font-size: 12px;
}

.premium-responsive-control-btns {
    line-height: 1px;
    margin-bottom: 2px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 8;
    margin-top: 0px !important;

    > li {
        margin-bottom: 0;
        display: none;
        overflow: hidden;

        &.active {
            display: inline-block;
        }
    }

    button[type="button"] {
        cursor: pointer;
        background: none;
        border: none;
        outline: none;
        padding: 4px;
        border-radius: 20px;
        width: 24px;
        height: 24px;

        > i {
            width: 15px;
            height: 13px;
            font-size: 15px;
            color: #bbb;
        }
    }
}

.kemet-slider-wrap {
    position: relative;
    margin-bottom: 0;
    margin-top: 25px;
}

.premium-blocks-range-control {
    .wrapper {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .premium-slider-reset {
        display: flex;
        width: 12px;
        height: 12px;
        padding: 0;
        border: 0;
        border: none;
        outline: 0;
        color: #006ba1;
        background: 0 0;
        background: 0 0;
        box-shadow: none;
        font-family: dashicons;
        font-size: 12px;
        -webkit-font-smoothing: antialiased;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        margin-left: 7px;
        &:disabled {
            color: rgba(0, 0, 0, 0.2);
            cursor: default;
        }

        &::before {
            content: "\f531";
            transition: transform 0.3s ease;
            transform: rotate(45deg);
        }

        &:hover:not(:disabled):before {
            transform: rotate(-45deg);
        }
    }
}

.kemet_range_value .premium-range-unit {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 28px;
    background: #fff;
    cursor: default;
    font-size: 10px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
    align-self: auto;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: color 0.1s ease, font-weight 0.1s ease;
    padding: 0;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #ddd;
    border-radius: 0;
}

.components-simple-tooltip.components-range-control__tooltip {
    display: none !important;
}

.css-5p7d2w-ThumbWrapper {
    height: 17px !important;
    margin-top: 7px !important;
    outline: none !important;
    width: 17px !important;
}
.css-ln2ltz-Thumb {
    box-shadow: none !important;
    border-width: 2px !important;
}
.kmt-responsive-control-btns {
    line-height: 1px;
    margin-bottom: 2px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 8;
    margin-top: 0px !important;

    > li {
        margin-bottom: 0;
        display: none;
        overflow: hidden;

        &.active {
            display: inline-block;
        }
    }

    button[type="button"] {
        cursor: pointer;
        background: none;
        border: none;
        outline: none;
        padding: 4px;
        border-radius: 20px;
        width: 24px;
        height: 24px;

        > i {
            width: 15px;
            height: 13px;
            font-size: 15px;
            color: #bbb;
        }
    }
}
