.premium-breadcrumb-trail {
    ul {
        list-style: none;
    }

    .trail-items,
    li {
        display: inline-block;
        margin: 0;
        padding: 0;
        list-style: none;

        .dashicons {
            line-height: normal !important;
        }
    }

    .breadcrumb-sep {
        padding: 0 0.4em;
    }

    >.prefix {
        margin-right: 0.4em;
    }
}

.premium-breadcrumbs-advanced {
    li {
        display: inline-flex;
        overflow: hidden;
        position: relative;
        padding-right: 30px;
        align-items: center;
        margin-right: 3px;

        >* {
            line-height: 26px;
            background-color: var(--item-bg-color, #f2f2f2);
            padding: 5px;
        }

        &::before {
            content: " ";
            display: inline-block;
            width: auto;
            height: auto;
            border-top: 50px solid transparent;
            border-bottom: 50px solid transparent;
            border-left: 30px solid var(--separator-color, #f2f2f2);
            z-index: 1;
            position: absolute;
            left: calc(100% - 30px);
        }
    }
}

/************ Responsive **************/
@media (min-width: 977px) {
    .premium-desktop-hidden {
        display: none !important;
    }
}

@media only screen and (max-width: 976px) and (min-width: 766px) {
    .premium-tablet-hidden {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .premium-mobile-hidden {
        display: none !important;
    }
}