$pbBackgroundColor: rgb(242, 242, 242);
$pbBorderColor: #e1e1e1;

@-webkit-keyframes "shining_title" {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 200%;
    }
}

@keyframes "shining_title" {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 200%;
    }
}

@-webkit-keyframes "premium_blurshadow" {
    from {
        text-shadow: 0 0 var(--shadow-value) var(--shadow-color);
        color: transparent;
    }

    to {
        text-shadow: 0;
    }
}

@keyframes "premium_blurshadow" {
    from {
        text-shadow: 0 0 var(--shadow-value) var(--shadow-color);
        color: transparent;
    }

    to {
        text-shadow: 0;
    }
}

.premium-title {
    position: relative;
    width: 100%;
    clear: both;

    .premium-title-header {
        &:not(.premium-title-style7__wrap) {
            -webkit-box-align: center;
            -webkit-align-items: center;
            -moz-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }
    }

    .before {
        flex-direction: row;
    }

    .after {
        flex-direction: row-reverse;
        display: inline-flex;
    }

    .top {
        flex-direction: column;
        display: inline-flex;

        .premium-title-style7-inner-title {
            flex-direction: column;
        }
    }

    .style2 {
        border-bottom: 3px solid
            var(--pbg-global-color1, var(--pbg-global-color1, #0085BA)) !important;
        overflow: hidden;

        .premium-title-center {
            align-items: center !important;
        }

        .premium-title-left {
            align-items: flex-start !important;
        }

        .premium-title-right {
            align-items: flex-end !important;
        }
    }

    .style4 {
        border-bottom: 3px solid var(--pbg-global-color1, #0085BA) !important;

        .left {
            justify-content: flex-start !important;
        }

        .center {
            justify-content: center !important;
        }

        .right {
            justify-content: flex-end !important;
        }
    }

    .style5 {
        border-bottom: 3px solid var(--pbg-global-color1, #0085BA) !important;

        .premium-title-center {
            align-items: center !important;
        }

        .premium-title-left {
            align-items: flex-start !important;
        }

        .premium-title-right {
            align-items: flex-end !important;
        }
    }

    .style6 {
        border-bottom: 3px solid var(--pbg-global-color1, #0085BA) !important;

        .premium-title-center {
            align-items: center !important;
        }

        .premium-title-left {
            align-items: flex-start !important;
        }

        .premium-title-right {
            align-items: flex-end !important;
        }
    }

    .style3-left {
        .top {
            align-items: flex-start !important;
        }
    }

    .style4-left {
        .top {
            align-items: flex-start !important;
        }
    }

    .style3-center {
        .top {
            align-items: center !important;
        }
    }

    .style4-center {
        .top {
            align-items: center !important;
        }
    }

    .style3-right {
        .top {
            align-items: flex-end !important;
        }
    }

    .style4-right {
        .top {
            align-items: flex-end !important;
        }
    }

    .style1 {
        .premium-title-center {
            align-items: center !important;
        }

        .premium-title-left {
            align-items: flex-start !important;
        }

        .premium-title-right {
            align-items: flex-end !important;
        }
    }

    .style8 {
        .premium-title-center {
            align-items: center !important;
        }

        .premium-title-left {
            align-items: flex-start !important;
        }

        .premium-title-right {
            align-items: flex-end !important;
        }
    }

    .style9 {
        .premium-title-center {
            align-items: center !important;
        }

        .premium-title-left {
            align-items: flex-start !important;
        }

        .premium-title-right {
            align-items: flex-end !important;
        }
    }

    .style7 {
        .premium-title-center {
            .premium-title-icon {
                align-self: center !important;
            }
        }

        .premium-title-left {
            .premium-title-icon {
                align-self: flex-start !important;
            }
        }

        .premium-title-right {
            .premium-title-icon {
                align-self: flex-end !important;
            }
        }
    }

    .style3 {
        .left {
            justify-content: flex-start !important;
        }

        .center {
            justify-content: center !important;
        }

        .right {
            justify-content: flex-end !important;
        }
    }

    .premium-lottie-animation {
        -js-display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;

        svg {
            width: 40px;
            height: 40px;
        }
    }
}

.premium-title-bg-text {
    &::before {
        position: absolute;
        content: attr(data-backgroundText);
        width: auto;
        transform: rotate(0deg);
        top: 0;
        left: 0;
    }
}

.premium-title-header {
    position: relative;
    margin: 0;
    padding: 0px;
    img {
        width: 40px;
        height: 40px;
        -o-object-fit: cover;
        object-fit: cover;
    }

    a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-box-shadow: none;
        box-shadow: none;
        text-decoration: none !important;
        outline: white !important;
    }

    .dashicons {
        width: auto !important;
        height: auto !important;
    }
}

.premium-title-default__wrap {
    -js-display: inline-flex;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.premium-title-style1__wrap {
    border-left: 3px solid var(--pbg-global-color1, #0085BA) !important;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.before {
    .premium-title-icon {
        margin-right: 10px;
    }
}

.after {
    .premium-title-icon {
        margin-left: 10px;
    }

    .premium-title-style7-inner-title {
        flex-direction: row-reverse;
    }
}

.premium-title-icon {
    font-style: normal !important;
    font-size: 40px;
    vertical-align: initial !important;
}

.style3 {
    .after {
        display: flex;
    }
}

.premium-title-style2__wrap {
    -js-display: inline-flex;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.premium-title-style5__wrap {
    -js-display: inline-flex;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.premium-title-style6__wrap {
    -js-display: inline-flex;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;

    &:before {
        position: absolute;
        left: 50%;
        bottom: 0;
        margin-left: -2px;
        content: "";
        border: 3px solid transparent;
    }
}

.premium-title-style8__wrap {
    -js-display: inline-flex;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;

    .premium-title-text-title[data-animation="shiny"] {
        -webkit-background-size: 125px 125px !important;
        background-size: 125px !important;
        color: rgba(255, 255, 255, 0) !important;
        -webkit-background-clip: text !important;
        background-clip: text !important;
        -webkit-animation-name: shining_title !important;
        animation-name: shining_title !important;
        -webkit-animation-duration: var(--animation-speed) !important;
        animation-duration: var(--animation-speed) !important;
        -webkit-animation-iteration-count: infinite !important;
        animation-iteration-count: infinite !important;
        background: var(--base-color) -webkit-gradient(
                linear,
                left top,
                right top,
                from(var(--base-color)),
                to(var(--base-color)),
                color-stop(0.5, var(--shiny-color))
            ) 0 0 no-repeat;
    }
}

.premium-title-style9__wrap {
    -js-display: inline-flex;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;

    .premium-letters-container {
        -js-display: inline-flex;
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -moz-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
    }
}

.premium-title-style3__wrap {
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.premium-title-style4__wrap {
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.premium-title-style7__wrap {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    -js-display: inline-flex;
    display: -moz-inline-box;
    display: inline-flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column !important;

    .premium-stripe-bottom {
        order: 2;
    }
}

.premium-title-style7-stripe__wrap {
    justify-content: center;
    order: initial;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    -js-display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    width: -webkit-fill-available;
}

.premium-title-style7-stripe-span {
    background-color: var(--pbg-global-color1, #0085BA);
    width: 120px;
    height: 5px;
}

.premium-title-style7-inner-title {
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    .premium-title-text-title {
        margin: 0;
    }

    .premium-stripe-left {
        align-self: flex-start !important;
    }

    .premium-stripe-right {
        align-self: flex-end !important;
    }
}

.premium-stripe-left {
    justify-content: flex-start !important;
}

.premium-stripe-right {
    justify-content: flex-end !important;
}

.premium-title-text-title {
    padding: 0px;
}

.premium-title-style9__wrap[data-animation-blur="process"] {
    .premium-title-style9-letter {
        -webkit-animation: premium_blurshadow 5s 1 alternate;
        animation: premium_blurshadow 5s 1 alternate;
    }
}

@media only screen and (max-width: 480px) {
    span.premium-title {
        .style1 {
            span.premium-title-mobile-center {
                align-items: center !important;
            }

            span.premium-title-mobile-left {
                align-items: flex-start !important;
            }

            span.premium-title-mobile-right {
                align-items: flex-end !important;
            }
        }

        .style2 {
            span.premium-title-mobile-center {
                align-items: center !important;
            }

            span.premium-title-mobile-left {
                align-items: flex-start !important;
            }

            span.premium-title-mobile-right {
                align-items: flex-end !important;
            }
        }

        .style5 {
            span.premium-title-mobile-center {
                align-items: center !important;
            }

            span.premium-title-mobile-left {
                align-items: flex-start !important;
            }

            span.premium-title-mobile-right {
                align-items: flex-end !important;
            }
        }

        .style6 {
            span.premium-title-mobile-center {
                align-items: center !important;
            }

            span.premium-title-mobile-left {
                align-items: flex-start !important;
            }

            span.premium-title-mobile-right {
                align-items: flex-end !important;
            }
        }

        .style8 {
            span.premium-title-mobile-center {
                align-items: center !important;
            }

            span.premium-title-mobile-left {
                align-items: flex-start !important;
            }

            span.premium-title-mobile-right {
                align-items: flex-end !important;
            }
        }

        .style9 {
            span.premium-title-mobile-center {
                align-items: center !important;
            }

            span.premium-title-mobile-left {
                align-items: flex-start !important;
            }

            span.premium-title-mobile-right {
                align-items: flex-end !important;
            }
        }

        .style7 {
            span.premium-title-mobile-center {
                span.premium-title-icon {
                    align-self: center !important;
                }
            }

            span.premium-title-mobile-left {
                span.premium-title-icon {
                    align-self: flex-start !important;
                }
            }

            span.premium-title-mobile-right {
                span.premium-title-icon {
                    align-self: flex-end !important;
                }
            }
        }
    }

    span.premium-stripe-mobile-left {
        justify-content: flex-start !important;
    }

    span.premium-stripe-mobile-right {
        justify-content: flex-end !important;
    }

    span.premium-title-style7-inner-title {
        span.premium-stripe-mobile-left {
            align-self: flex-start !important;
        }

        span.premium-stripe-mobile-right {
            align-self: flex-end !important;
        }

        span.premium-stripe-mobile-center {
            align-self: center !important;
        }
    }

    span.premium-stripe-mobile-center {
        justify-content: center !important;
    }
}

@media only screen and (min-width: 481px) and (max-width: 782px) {
    span.premium-title {
        .style1 {
            span.premium-title-tablet-center {
                align-items: center !important;
            }

            span.premium-title-tablet-left {
                align-items: flex-start !important;
            }

            span.premium-title-tablet-right {
                align-items: flex-end !important;
            }
        }

        .style2 {
            span.premium-title-tablet-center {
                align-items: center !important;
            }

            span.premium-title-tablet-left {
                align-items: flex-start !important;
            }

            span.premium-title-tablet-right {
                align-items: flex-end !important;
            }
        }

        .style5 {
            span.premium-title-tablet-center {
                align-items: center !important;
            }

            span.premium-title-tablet-left {
                align-items: flex-start !important;
            }

            span.premium-title-tablet-right {
                align-items: flex-end !important;
            }
        }

        .style6 {
            span.premium-title-tablet-center {
                align-items: center !important;
            }

            span.premium-title-tablet-left {
                align-items: flex-start !important;
            }

            span.premium-title-tablet-right {
                align-items: flex-end !important;
            }
        }

        .style8 {
            span.premium-title-tablet-center {
                align-items: center !important;
            }

            span.premium-title-tablet-left {
                align-items: flex-start !important;
            }

            span.premium-title-tablet-right {
                align-items: flex-end !important;
            }
        }

        .style9 {
            span.premium-title-tablet-center {
                align-items: center !important;
            }

            span.premium-title-tablet-left {
                align-items: flex-start !important;
            }

            span.premium-title-tablet-right {
                align-items: flex-end !important;
            }
        }

        .style7 {
            span.premium-title-tablet-center {
                span.premium-title-icon {
                    align-self: center !important;
                }
            }

            span.premium-title-tablet-left {
                span.premium-title-icon {
                    align-self: flex-start !important;
                }
            }

            span.premium-title-tablet-right {
                span.premium-title-icon {
                    align-self: flex-end !important;
                }
            }
        }
    }

    span.premium-stripe-tablet-center {
        justify-content: center !important;
    }

    span.premium-title-style7-inner-title {
        span.premium-stripe-tablet-center {
            align-self: center !important;
        }

        span.premium-stripe-tablet-left {
            align-self: flex-start !important;
        }

        span.premium-stripe-tablet-right {
            align-self: flex-end !important;
        }
    }

    span.premium-stripe-tablet-left {
        justify-content: flex-start !important;
    }

    span.premium-stripe-tablet-right {
        justify-content: flex-end !important;
    }
}

/************ Responsive **************/
@media (min-width: 977px) {
    .premium-desktop-hidden {
        display: none !important;
    }
}

@media only screen and (max-width: 976px) and (min-width: 766px) {
    .premium-tablet-hidden {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .premium-mobile-hidden {
        display: none !important;
    }
}
