@import "./colors-palettes.scss";
@import "./advanced-color.scss";

.premium-group-item-icon {
    fill: currentColor;
}
.premium-group-header-description {
    padding: 0 20px;
}
.premium-typography-screen {
    padding: 20px;
}
.premium-layout-screen {
    padding: 20px;
}
.premium-element-typography {
    margin-top: 15px;
    .premium-element-typography-title {
        margin: 0;
        overflow-wrap: break-word;
        line-height: normal;
    }
}

.premium-global-colors-screen {
    padding: 12px 20px;
    .__react_component_tooltip {
        padding: 8px 10px;
    }
}

.premium-global-colors-type {
    display: flex;
    justify-content: space-between;
    label {
        color: rgb(5, 5, 5);
        font-size: calc(13px);
        font-weight: 600;
    }
    .components-form-toggle,
    .components-base-control__field {
        margin: 0 !important;
        label {
            display: none !important;
        }
    }
}

.premium-global-color-Wrapper {
    position: relative;
    &:hover {
        > div > .premium-remove-color {
            opacity: 1;
        }
    }
}
.premium-remove-color {
    position: absolute;
    top: -1px;
    right: -2px;
    background: #f7f7f7;
    height: 11px;
    width: 11px;
    display: block;
    color: #9b9b9b;
    font-size: 8px;
    text-align: center;
    line-height: 11.5px;
    border-radius: 50%;
    box-shadow: -1px 1px 2px 0 rgb(0 0 0 / 15%);
    opacity: 0;
    transition: 0.15s ease all;
    cursor: pointer;
    &:hover {
        color: var(--wp-admin-theme-color);
    }
    svg {
        fill: currentColor;
        height: 11px;
        width: 11px;
    }
}
/* Radio Control */
.pbg-advanced-radio-control {
    margin-bottom: 0 !important;
    .pbg-advanced-radio-button {
        text-transform: capitalize !important;
    }
}
.premium-global-colors-screen,
.premium-typography-screen {
    .components-checkbox-control {
        .components-checkbox-control__input-container {
            margin-right: 6px;
            width: 15px;
            height: 15px;
            .components-checkbox-control__input[type="checkbox"] {
                width: 15px;
                height: 15px;
            }
            svg.components-checkbox-control__checked,
            svg.components-checkbox-control__indeterminate {
                left: -2px;
                top: -3px;
            }
            svg.components-checkbox-control__checked,
            svg.components-checkbox-control__indeterminate {
                width: 20px;
                height: 20px;
            }
        }
    }
}
