@-webkit-keyframes "move" {
	from {
		background-position: 0 0;
	}

	to {
		background-position: 40px 0;
	}
}

@keyframes "move" {
	from {
		background-position: 0 0;
	}

	to {
		background-position: 40px 0;
	}
}

.premium-progress-bar {
	position: relative;

	// line type
	.premium-progress-bar-line,
	.premium-progress-bar-dots {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.premium-heading {
			margin: 0;
			float: left;
		}

		.premium-text {
			margin: 0;
			float: right;
			margin-bottom: 0 !important;
			margin-top: 0 !important;
		}
	}

	.line,
	.dots {
		.block-editor-block-list__layout {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.premium-text {
				margin: 0;
				float: right;
				margin-bottom: 0 !important;
				margin-top: 0 !important;
			}
		}
	}

	// line type
	// .premium-progress-bar-labels-wrap {
	// 	display: flex;
	// 	justify-content: space-between;
	// 	align-items: center;

	// 	.premium-progress-bar-left-label {
	// 		margin: 0;
	// 		float: left;
	// 	}

	// 	.premium-progress-bar-right-label {
	// 		margin: 0;
	// 		float: right;
	// 	}
	// }


	// .premium-progress-bar-clear {
	// 	clear: both;
	// }

	.premium-progress-bar-wrap {
		position: relative;
		text-align: left;
		overflow: hidden;
		margin-bottom: 50px;
		-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
		box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
		border-radius: 0px;
		height: 25px;
		border-radius: 0px;
		background-color: #f5f5f5;

		.premium-progress-bar-bar {
			position: absolute;
			overflow: hidden;
			// line-height: 20px;
			float: left;
			-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
			box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
			-webkit-transition: width 0s ease-in-out !important;
			transition: width 0s ease-in-out !important;
			width: 0%;
			height: 100%;
			border-radius: 0px;
			background-color: #793DC2 !important;
		}

		.premium-progress-bar-progress-stripe {
			background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
			background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
			background-image: linear-gradient(-45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
			-webkit-background-size: 40px 40px;
			background-size: 40px 40px;
		}

		.premium-progress-bar-progress-active {
			-webkit-animation: move 2s linear infinite;
			animation: move 2s linear infinite;
		}
	}

	//half circle type
	.premium-progressbar-hf-wrapper * {
		box-sizing: border-box;
	}

	.premium-progressbar-hf-circle-wrap {
		width: 200px;
		height: 100px;
		position: relative;
		margin: 0 auto;
		overflow: hidden;

		.premium-progressbar-hf-container {
			position: relative;
			width: 200px;
			height: 200px;

			.premium-progressbar-hf-circle {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				-webkit-clip-path: inset(0 0 50% 0);
				clip-path: inset(0 0 50% 0);

				.premium-progressbar-hf-circle-progress {
					position: absolute;
					left: 0;
					top: 0;
					height: 100%;
					width: 100%;
					border: 12px solid #000;
					-webkit-border-radius: 50%;
					border-radius: 50%;
					-webkit-clip-path: inset(50% 0 0 0);
					clip-path: inset(50% 0 0 0);
					-webkit-transform: rotate(0);
					-ms-transform: rotate(0);
					transform: rotate(0);
					-webkit-transition: -webkit-transform 1.5s linear;
					transition: -webkit-transform 1.5s linear;
					transition: transform 1.5s linear;
					transition: transform 1.5s linear, -webkit-transform 1.5s linear;
				}
			}

			.premium-progressbar-circle-inner {
				height: 100%;
				width: 100%;
				border: 12px solid #eee;
				-webkit-border-radius: 50%;
				border-radius: 50%;
			}
		}
	}

	.premium-progressbar-hf-labels {
		width: 200px;
		margin: 0 auto;
		position: relative;
		font-size: 12px;
		font-weight: 400;
		-js-display: flex;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-moz-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	//circle type
	.premium-progressbar-circle-wrap {
		width: 200px;
		height: 200px;
		position: relative;
		margin: 0 auto;

		.premium-progressbar-circle-base {
			width: 100%;
			height: 100%;
			border: 6px solid #eee;
			-webkit-border-radius: 50%;
			border-radius: 50%;
			border-width: 12px;
		}

		.premium-progressbar-circle {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			-webkit-clip-path: inset(0 0 0 50%);
			clip-path: inset(0 0 0 50%);

			.premium-progressbar-circle-left {
				-webkit-transform: rotate(0);
				-ms-transform: rotate(0);
				transform: rotate(0);
				border-width: 12px;
			}

			.premium-progressbar-circle-right {
				-webkit-transform: rotate(180deg);
				-ms-transform: rotate(180deg);
				transform: rotate(180deg);
				visibility: hidden;
				border-width: 12px;
			}

			div {
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				width: 100%;
				border-width: 6px;
				border-style: solid;
				border-color: #54595f;
				-webkit-border-radius: 50%;
				border-radius: 50%;
				-webkit-clip-path: inset(0 50% 0 0);
				clip-path: inset(0 50% 0 0);
			}
		}
	}

	.half-circle,
	.circle {

		.premium-progressbar-circle-content,
		.block-editor-block-list__layout {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			-js-display: flex;
			display: -webkit-box;
			display: -webkit-flex;
			display: -moz-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-webkit-flex-direction: column;
			-moz-box-orient: vertical;
			-moz-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			-webkit-box-pack: center;
			-webkit-justify-content: center;
			-moz-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			-webkit-box-align: center;
			-webkit-align-items: center;
			-moz-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			text-align: center;

			.premium-heading {
				margin: 0;
				float: left;
				-webkit-box-ordinal-group: 2;
				-webkit-order: 1;
				-moz-box-ordinal-group: 2;
				-ms-flex-order: 1;
				order: 1;
			}

			.premium-text {
				margin: 0;
				float: right;
				margin-bottom: 0 !important;
				margin-top: 0 !important;
			}
		}
	}


	// dots Type
	.premium-progressbar-bar-wrap {
		position: relative;
		text-align: left;
		overflow: hidden;
		height: 25px;
		margin-bottom: 50px;
		background-color: #f5f5f5;
		-webkit-border-radius: 4px;
		border-radius: 4px;
	}

	.premium-progressbar-dots {
		background-color: transparent;
		width: 100%;
		-js-display: flex;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		height: auto;
		-webkit-box-shadow: none;
		box-shadow: none;

		.progress-segment {
			position: relative;
			width: 25px;
			height: 25px;
			-webkit-border-radius: 50%;
			border-radius: 50%;
			overflow: hidden;
			background-color: #f5f5f5;

			&:first-child {
				margin-right: 4px;
			}

			&:not(:first-child):not(:last-child) {
				margin: 0 4px;
			}

			&:last-child {
				margin-left: 4px;
			}

			.segment-inner {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				background-color: #793dc2;
			}
		}
	}
}




.premium-progress-bar-multiple-label {
	position: relative;
	float: left;
	width: 0;
}

.premium-progress-bar-center-label {
	font-family: "Roboto", Sans-serif;
	position: relative;
	white-space: nowrap;
	margin: 0 !important;
	float: left;
}

.premium-progress-bar-control-content {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.premium-progress-bar-control-title {
	font-size: 12px;
	line-height: 1;
	margin-right: 5px;
}

.premium-progress-bar-btn__wrap {
	text-align: center;
}

.premium-progress-bar-btn {
	display: inline-flex;
	justify-content: space-between;
	background-color: #a4afb7;
	color: #fff;
	font-size: 11px;
	padding: 7px 21px;
	cursor: pointer;
	font-weight: 500;
	text-transform: uppercase;
	outline: none;
	border: none;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition-property: background, color, opacity, -webkit-box-shadow;
	transition-property: background, color, opacity, -webkit-box-shadow;
	-o-transition-property: background, color, box-shadow, opacity;
	transition-property: background, color, box-shadow, opacity;
	transition-property: background, color, box-shadow, opacity, -webkit-box-shadow;
	-webkit-transition-duration: .3s;
	-o-transition-duration: .3s;
	transition-duration: .3s;
}

.premium-progress-bar-icon {
	margin-right: 10px;
}

.premium-progress-bar-repeater-controls {
	border-color: #64666a;
	border: 1px solid #d5dadf;
	border-top: 0 solid #b4c1ce;
	padding: 0.5em;
	margin-bottom: 1em;

	&:not(.editable) {
		display: none;
	}
}

.premium-progress-bar-arrow {
	left: 20%;
	transform: translateX(50%);
	margin: 0;
	float: right;
	display: inline-block;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 11px solid;
	margin-bottom: 0 !important;
	margin-top: 0 !important;
}

.premium-progress-bar-pin {
	left: 50%;
	transform: translateX(50%);
	margin: 0 !important;
	float: right;
	border-left: 1px solid;
	height: 12px;
	display: inline-block;
}

.premium-progress-bar__container {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	border: 1px solid;
	line-height: 2.5em;
}

.premium-progress-bar__dragHandle {
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	flex: 1;
	background: darkgrey;
	border-right: 1px solid;
	cursor: move;
	color: #ffffff;
	align-items: center;
	display: flex !important;
	justify-content: center;

	&::before {
		content: "\f142";
	}
}

.premium-progress-bar__content {
	font-size: 14px;
	padding-right: 10px;
	padding-left: 10px;
	cursor: pointer;
	width: 90%;
	flex: 12;
	line-height: 2.5em;
}

.premium-progress-bar__trashicon {
	font-size: 14px;
	border-left: 1px solid gray;
	line-height: 2.5em;
	flex: 2 1 0%;
	text-align: center;

	&:hover {
		background: #f44336;
		color: #ffffff;
		cursor: pointer;
	}
}