.premium-video-box__container {
    >div {
        position: relative;
        overflow: hidden;
    }
}

.premium-aspect-ratio-11 {
    .premium-video-box__container {
        >div {
            padding-bottom: 100%;
        }
    }
}

.premium-aspect-ratio-169 {
    .premium-video-box__container {
        >div {
            padding-bottom: 56.25%;
        }
    }
}

.premium-aspect-ratio-43 {
    .premium-video-box__container {
        >div {
            padding-bottom: 75%;
        }
    }
}

.premium-aspect-ratio-32 {
    .premium-video-box__container {
        >div {
            padding-bottom: 66.6666%;
        }
    }
}

.premium-aspect-ratio-219 {
    .premium-video-box__container {
        >div {
            padding-bottom: 42.8571%;
        }
    }
}

.premium-aspect-ratio-916 {
    .premium-video-box__container {
        >div {
            padding-bottom: 177.8%;
        }
    }
}

.premium-video-box-video-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 0.8s ease-in-out;
    transition: opacity 0.8s ease-in-out;
    overflow: hidden;
    cursor: pointer;

    iframe {
        max-width: 100%;
        width: 100%;
        height: 100%;
        margin: 0;
        line-height: 1;
        border: none;
    }

    video {
        max-width: 100%;
        width: 100%;
        height: 100%;
        margin: 0;
        line-height: 1;
        border: none;
        background-color: #000;
        -o-object-fit: contain;
        object-fit: contain;
    }
}

.premium-video-box {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;

    .premium-video-box__container {
        z-index: 2;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: opacity 0.3s ease-in-out;
        -moz-transition: opacity 0.3s ease-in-out;
        -o-transition: opacity 0.3s ease-in-out;
        -ms-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
    }

    .premium-video-box__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 85%;
        background-color: #eee;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: 50%;
        cursor: pointer;
    }

    .premium-video-box__play {
        position: absolute;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: flex;
        z-index: 1;
        cursor: pointer;
        transform: translate(-50%, -50%);
        background: rgba(252, 252, 252, 0.84);
        top: 50%;
        left: 50%;
        padding: 1.3em;
        border-radius: 100px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .premium-video-box__desc {
        position: relative;
        z-index: 1;
        padding: 5px;
    }

    .premium-video-box__play_icon {
        display: block;
        font-size: 20px;
    }

    .premium-video-box__desc_text {
        margin: 0 !important;
        color: #555;
        font-size: 13px;
        text-align: center;
    }
}

.premium-video-box.video-overlay-false {
    .premium-video-box__container {
        opacity: 1;
        visibility: visible;
    }

    .premium-video-box__overlay {
        opacity: 1;
        visibility: hidden;
    }

    .premium-video-box-image-container {
        opacity: 1;
        visibility: hidden;
    }
}

.premium-video-box__container {
    iframe {
        max-width: 100%;
        width: 100%;
        height: 100%;
        margin: 0;
        line-height: 1;
        border: none;
    }

    video {
        max-width: 100%;
        width: 100%;
        height: 100%;
        margin: 0;
        line-height: 1;
        border: none;
        -o-object-fit: cover;
        object-fit: cover;
    }
}

.premium-video-box-image-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 85% !important;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50%;
    cursor: pointer;
    margin: auto;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

/************ Responsive **************/
@media (min-width: 977px) {
    .premium-desktop-hidden {
        display: none !important;
    }
}

@media only screen and (max-width: 976px) and (min-width: 766px) {
    .premium-tablet-hidden {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .premium-mobile-hidden {
        display: none !important;
    }
}