.premium-group-item-icon {
    fill: currentColor;
}
.premium-group-header-description {
    padding: 0 16px;
}
.premium-typography-screen {
    margin: 16px;
}
.premium-element-typography {
    margin-top: 15px;
    .premium-element-typography-title {
        margin: 0;
        margin-bottom: 10px;
    }
}

.premium-global-colors-type {
    display: flex;
    justify-content: center;
    padding: 0 20px;
    label {
        margin: 0 10px;
        color: rgb(5, 5, 5);
        font-size: calc(13px);
        font-weight: 600;
    }
    .components-form-toggle,
    .components-base-control__field {
        margin: 0 !important;
        label {
            display: none !important;
        }
    }
}

.premium-color-Wrapper {
    position: relative;
    &:hover {
        > .premium-remove-color {
            opacity: 1;
        }
    }
}
.premium-remove-color {
    position: absolute;
    top: -1px;
    right: -2px;
    background: #f7f7f7;
    height: 11px;
    width: 11px;
    display: block;
    color: #9b9b9b;
    font-size: 8px;
    text-align: center;
    line-height: 11.5px;
    border-radius: 50%;
    box-shadow: -1px 1px 2px 0 rgb(0 0 0 / 15%);
    opacity: 0;
    transition: 0.15s ease all;
    cursor: pointer;
    &:hover {
        color: var(--wp-admin-theme-color-darker-10);
    }
    svg {
        fill: currentColor;
        height: 11px;
        width: 11px;
    }
}
/* Color Pallet */

.premium-modal-tabs {
    display: flex;
    overflow-x: hidden;
    height: 43px;
    margin: 0;

    flex: 0 0 43px;
}

.premium-modal-tabs li {
    display: flex;
    box-sizing: border-box;
    min-height: 100%;
    margin: 0;
    border-bottom: 1px solid #eee;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;

    align-items: center;
    flex: 1;
    justify-content: center;
}

.premium-modal-tabs li.active {
    position: relative;
}

.premium-modal-tabs li:not(:last-child) {
    border-right: 1px solid #eee;
}

.premium-modal-tabs li:not(.active) {
    color: rgba(68, 68, 68, 0.7);
}

.premium-modal-tabs li.active::after {
    position: absolute;
    bottom: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: 2px;
    background: var(--primaryColor);
    content: "";
}

.premium-control.premium-image-actions {
    margin-top: 0;
    padding: 0 14px;
}

.premium-gradient-tab
    .components-custom-gradient-picker__ui-line
    .components-base-control__field {
    margin-bottom: 0;
}

.premium-gradient-tab
    .components-custom-gradient-picker__ui-line
    .components-input-control__label {
    display: none !important;
}

.premium-gradient-tab
    .components-popover
    .components-popover__content
    .components-color-picker {
    --cpm-pv: 16px;
}

.premium-gradient-tab
    .components-custom-gradient-picker__inserter
    .components-popover {
    margin-top: 10px;
}

.premium-background-modal
    .premium-global-color-picker-modal
    .premium-global-color-picker-top {
    padding: 20px 14px;
}

.premium-background-modal .premium-gradient-tab {
    overflow-x: hidden;
    overflow-y: auto;
}

.premium-gradient-tab .components-circular-option-picker__swatches {
    display: none;
}

.premium-gradient-tab .components-custom-gradient-picker__gradient-bar {
    box-sizing: border-box;
    margin: 0;
}

.premium-gradient-tab .components-custom-gradient-picker__markers-container,
.premium-gradient-tab .components-custom-gradient-picker__inserter {
    height: 100%;
}

.premium-gradient-tab .components-custom-gradient-picker__ui-line {
    margin: 18px 0;
}

.premium-gradient-tab
    .components-custom-gradient-picker__ui-line
    > *:first-child {
    width: 100%;
    max-width: 130px;
}

.premium-gradient-tab
    .components-custom-gradient-picker__ui-line
    .components-base-control__field {
    margin-bottom: 0;
}

.premium-gradient-tab
    .components-custom-gradient-picker__ui-line
    .components-input-control__label {
    display: none !important;
}

.premium-gradient-tab
    .components-circular-option-picker__custom-clear-wrappe
    r {
    margin-left: 8px;

    justify-content: initial;
}

.premium-gradient-tab .components-popover .components-popover__content {
    left: initial;
    box-sizing: border-box;
    min-width: var(--modalWidth, 295px);
    margin: 0 !important;
    border: none;
    border-bottom: 1px solid #eee;
    border-radius: 0;
    box-shadow: none;
}

.premium-gradient-tab .components-popover .components-popover__content > div {
    padding: 0;
}

.premium-gradient-tab
    .components-custom-gradient-picker__inserter
    .components-popover {
    margin-top: 10px;
}

.customize-control-premium-color-palettes header,
div.premium-type-control span,
.premium-palettes-preview .premium-palette-toggle-modal,
.premium-palettes-modal label,
.premium-global-color-picker-container,
.premium-global-color-picker-single > span span,
.premium-edit-palette,
.premium-global-color-picker-modal .components-color-picker__controls,
.premium-global-color-picker-modal
    .components-color-picker__inputs-wrapper
    .components-base-control__field
    label,
.premium-global-color-picker-modal .components-color-picker__inputs-toggle,
.premium-palettes-preview
    .premium-single-palette
    .premium-color-palette-container,
.premium-palette-info .premium-Palette-type-container,
.premium-palette-info .premium-Palette-type-wrapper button,
.components-modal__frame.premium-color-palette-confrim__delete
    .components-modal__content
    .components-modal__header,
.components-modal__frame.premium-color-palette-confrim__delete
    .components-modal__content
    .components-modal__header
    .components-modal__header-heading
    .premium-popup-modal__header,
.components-modal__frame.premium-color-palette-confrim__delete
    .premium-paltette-popup-action
    > *,
.components-modal__frame.premium-color-palette-confrim__delete
    .premium-pop-modal__header,
.components-modal__frame.premium-color-palette-confrim__delete
    .premium-paltette-popup-action,
.premium-palettes-modal .premium_label_type__palette {
    display: flex;

    align-items: center;
}

.premium-palettes-preview .premium-global-color-picker-container,
.premium-palettes-modal .premium-global-color-picker-container {
    justify-content: initial;
}

.customize-control-premium-color-palettes .premium-palettes-preview {
    margin: 0 -14px;
    padding: 5px 12px 0 12px;
    border-radius: 100px;
    cursor: pointer;
}

.customize-control-premium-color-palettes header {
    position: relative;
}

.customize-control-premium-color-palettes header a {
    margin-bottom: 2px;
}

.customize-control-premium-color-palettes header a:focus {
    box-shadow: none;
}

.customize-control-premium-color-palettes header a::before {
    display: inline-block;
    margin: 0 5px;
    color: #50575e;
    font-family: dashicons;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    content: "\f223";
    text-rendering: auto;
}

.customize-control-premium-color-palettes header a:hover::before {
    color: var(--primaryColor);
}

div.premium-type-control {
    display: flex;
    overflow-x: hidden;
    margin: 0;

    flex: 0 0 100px;
}

div.premium-type-control span {
    box-sizing: border-box;
    height: 40px;
    min-height: 100%;
    margin: 0;
    border-bottom: 1px solid #d8d7d7;
    color: #575f6c;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    cursor: pointer;

    flex: 1;
    justify-content: center;
}

div.premium-type-control span:first-child {
    border-right: 1px solid #d8d7d7;
}

div.premium-type-control span.active {
    color: var(--primaryColor);
}

div.premium-type-control span:not(:first-child) {
    margin-left: -1px;
}

header .premium-btn-reset-wrap {
    position: absolute;
    top: calc(50% - 10px);
    left: 0;
}

.premium-palettes-preview span.premium-button-open-palette::before {
    font-family: dashicons;
    font-size: 15px;
    font-weight: lighter;
    line-height: 26px;
    content: "\f347";
    transition: opacity 0.15s ease;
}

.premium-palettes-outside {
    background-color: #fff;
}

.premium-palettes-preview .premium-palette-toggle-modal {
    height: 30px;
    margin: 0 1px;
    padding: 3px 14px;
    border: 1px solid #eaeaeb;
    background-color: #fbfbfb;

    justify-content: space-between;
}

.premium-palettes-preview .premium-palette-toggle-modal header {
    color: #575f6c;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.premium-palettes-preview .premium-palette-toggle-modal span {
    width: 11px;
    height: 24px;
    margin-right: 2px;
    color: #2e2e2e;
    cursor: pointer;
}

.premium-palettes-preview .premium-palette-toggle-modal span.active {
    color: var(--primaryColor);
}

.premium-palettes-modal {
    overflow-y: auto;
    max-height: 450px;
}

.premium-palettes-modal:before {
    display: none;
}

.premium-palettes-modal .premium-single-palette {
    position: relative;
    padding: 16px;
    cursor: pointer;
}

.premium-palettes-modal .premium-single-palette:not(:last-child) {
    border-bottom: 1px solid var(--optionBorderColor);
}

.premium-palettes-modal .premium-single-palette:hover,
.premium-palettes-modal .premium-single-palette.premium-active {
    background: #f8f8f9;
}

.premium-palettes-modal label {
    margin-bottom: 7px;
    margin-left: -7px;
    color: #565e6b;
    font-size: 12px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;

    justify-content: space-between;
}

.premium-palettes-modal .premium-tooltip-top {
    display: none;
}

.premium-global-color-picker-container {
    justify-content: flex-end;
}

.premium-global-color-picker-single {
    margin-right: 6px;
}

.premium-palettes-modal
    .premium-single-palette
    .premium-color-palette-container {
    display: flex;
    align-items: start;
    justify-content: start;
}

.premium-global-color-picker-single > span span {
    position: relative;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.08);
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.04);

    justify-content: center;
}

.premium-edit-palette {
    position: relative;
    cursor: pointer;

    justify-content: center;
}

.premium-edit-palette span {
    overflow: hidden;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.4);

    -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.premium-edit-palette span svg {
    width: inherit;
    height: inherit;
    opacity: 0.9;
    transform: scale(1.3);

    filter: blur(0.2em);
}

.premium-edit-palette:focus {
    outline: none;
    box-shadow: none;
}

.premium-edit-palette:hover .premium-tooltip-top {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0px, -38px, 0px);
}

.premium-global-color-picker-skins li:hover .premium-tooltip-top {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0px, -38px, 0px);
}

.premium-global-color-picker-modal .components-color-picker {
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
}

.premium-global-color-picker-modal .components-color-picker * {
    box-sizing: border-box;
}

.premium-global-color-picker-modal .components-color-picker__saturation {
    position: relative;
    width: 100%;
    padding-bottom: 55%;
}

.premium-global-color-picker-modal .components-color-picker__body {
    padding: 20px 0 0 0;
}

.premium-global-color-picker-modal .components-color-picker__saturation-pointer,
.premium-global-color-picker-modal .components-color-picker__hue-pointer,
.premium-global-color-picker-modal .components-color-picker__alpha-pointer {
    position: absolute;
    padding: 0;
    border: none;
    box-shadow: none;
    cursor: pointer;
}

.premium-global-color-picker-modal .components-visually-hidden {
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    word-wrap: normal !important;

    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
}

.premium-global-color-picker-modal .components-color-picker__saturation-color,
.premium-global-color-picker-modal .components-color-picker__saturation-white,
.premium-global-color-picker-modal .components-color-picker__saturation-black {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.premium-global-color-picker-modal .components-color-picker__saturation-white,
.premium-global-color-picker-modal .components-color-picker__saturation-black {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.premium-global-color-picker-modal .components-color-picker__saturation-color {
    overflow: hidden;
    border-radius: 4px;

    -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.premium-global-color-picker-modal .components-color-picker__saturation-white {
    background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
}

.premium-global-color-picker-modal .components-color-picker__saturation-black {
    background: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
}

.premium-global-color-picker-modal
    .components-color-picker__saturation-pointer {
    width: 14px;
    height: 14px;
    padding: 0;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: 0 0 0 1.5px #fff, inset 0 0 1px 1px rgba(0, 0, 0, 0.3),
        0 0 1px 2px rgba(0, 0, 0, 0.4);
    transform: translate(-4px, -4px);
}

.premium-global-color-picker-modal .components-color-picker__swatch {
    display: none;
}

.premium-global-color-picker-modal .components-color-picker__active {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.premium-global-color-picker-modal .components-color-picker__toggles {
    flex: 1;
}

.premium-global-color-picker-modal .components-color-picker__alpha {
    background-image: linear-gradient(45deg, #ddd 25%, transparent 25%),
        linear-gradient(-45deg, #ddd 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #ddd 75%),
        linear-gradient(-45deg, transparent 75%, #ddd 75%);
    background-position: 0 0, 0 5px, 5px -5px, -5px 0;
    background-size: 10px 10px;
}

.premium-global-color-picker-modal .components-color-picker__hue-gradient,
.premium-global-color-picker-modal .components-color-picker__alpha-gradient {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
}

.premium-global-color-picker-modal .components-color-picker__hue,
.premium-global-color-picker-modal .components-color-picker__alpha {
    position: relative;
    height: 18px;
    border-radius: 10px;
}

.premium-global-color-picker-modal
    .is-alpha-enabled
    .components-color-picker__hue {
    margin-bottom: 10px;
}

.premium-global-color-picker-modal .components-color-picker__hue-bar,
.premium-global-color-picker-modal .components-color-picker__alpha-bar {
    position: relative;
    height: 100%;
    margin: 0 3px;
    padding: 0 2px;
}

.premium-global-color-picker-modal .components-color-picker__hue-gradient {
    background: linear-gradient(
        to right,
        red 0%,
        #ff0 17%,
        lime 33%,
        cyan 50%,
        blue 67%,
        #f0f 83%,
        red 100%
    );
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.premium-global-color-picker-modal .components-color-picker__alpha-gradient {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.premium-global-color-picker-modal .components-color-picker__hue-pointer,
.premium-global-color-picker-modal .components-color-picker__alpha-pointer {
    left: 0;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    transform: translate(-7px, 2px);
}

.premium-global-color-picker-modal .components-color-picker__hue-pointer {
    transition: box-shadow 0.1s linear;
}

.premium-global-color-picker-modal
    .components-color-picker__saturation-pointer {
    transition: box-shadow 0.1s linear;
}

.premium-global-color-picker-modal
    .components-color-picker__saturation-pointer:focus {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px blue, 0 0 5px 0 blue,
        inset 0 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 1px 2px rgba(0, 0, 0, 0.4);
}

.premium-global-color-picker-modal .components-color-picker__hue-pointer:focus,
.premium-global-color-picker-modal
    .components-color-picker__alpha-pointer:focus {
    border-color: blue;
    outline: 2px solid transparent;
    outline-offset: -2px;
    box-shadow: 0 0 0 2px blue, 0 0 3px 0 blue;
}

.premium-global-color-picker-modal .components-color-picker__inputs-wrapper {
    display: flex;
    margin: 20px calc(var(--cpm-ph) * -1) 0 calc(var(--cpm-ph) * -1);
    padding: 20px var(--cpm-ph) 1px var(--cpm-ph);
    border-top: 1px solid var(--optionBorderColor);

    align-items: flex-end;
}

.premium-global-color-picker-modal
    .components-color-picker__inputs-wrapper
    fieldset {
    margin: 0;
    padding: 0;
    border: none;

    flex: 1;
}

.premium-global-color-picker-modal .components-color-picker__inputs-field {
    width: 100%;
}

.premium-global-color-picker-modal .components-color-picker__inputs-fields {
    display: flex;
    margin-right: 0;

    direction: ltr;
    flex-grow: 1;
}

.premium-global-color-picker-modal
    .components-color-picker__inputs-fields
    .components-base-control
    + .components-base-control {
    margin-top: 0;
}

.premium-global-color-picker-modal
    .components-color-picker__inputs-fields
    .components-base-control__field {
    margin: 0;
}

.premium-global-color-picker-modal .components-color-picker {
    padding-top: var(--cpm-pv);
    padding-right: var(--cpm-ph);
    padding-bottom: var(--cpm-pv);
    padding-left: var(--cpm-ph);

    --cpm-ph: 17px;
    --cpm-pv: 20px;
}

.premium-global-color-picker-modal .components-color-picker__hue-bar {
    margin: 0 8px 0 9px;
}

.premium-global-color-picker-modal .components-color-picker__alpha-bar {
    margin: 0 9px;
}

.premium-global-color-picker-modal .components-color-picker__hue-pointer,
.premium-global-color-picker-modal .components-color-picker__alpha-pointer,
.premium-global-color-picker-modal
    .components-color-picker__saturation-pointer {
    border: 3px solid #fff;
    background: transparent !important;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.37), inset 0 0 3px rgba(0, 0, 0, 0.2) !important;
}

.premium-global-color-picker-modal .components-color-picker__hue-pointer:hover,
.premium-global-color-picker-modal
    .components-color-picker__hue-pointer:active {
    border-width: 4px;
}

.premium-global-color-picker-modal
    .components-color-picker__alpha-pointer:hover,
.premium-global-color-picker-modal
    .components-color-picker__alpha-pointer:active {
    border-width: 4px;
}

.premium-global-color-picker-modal
    .components-color-picker__saturation-pointer:hover,
.premium-global-color-picker-modal
    .components-color-picker__saturation-pointer:active {
    border-width: 4px;
}

.premium-global-color-picker-modal
    .components-color-picker__inputs-wrapper
    .components-text-control__input {
    height: 28px !important;
    padding-left: 38px !important;
    border: 1px solid #dcdddf !important;
    border-radius: 0 !important;
    font-size: 11px !important;
}

.premium-global-color-picker-modal
    .components-color-picker__inputs-wrapper
    > .components-color-picker__inputs-fields
    .components-base-control__label {
    font-size: 0;
}

.premium-global-color-picker-modal
    .components-color-picker__inputs-wrapper
    > .components-color-picker__inputs-fields
    .components-base-control__label:before {
    padding: 0 6px;
    font-size: 9px;
    content: "HEX";
}

.premium-global-color-picker-modal
    .components-color-picker__inputs-wrapper
    .components-base-control:not(:last-child) {
    margin-right: 5px;
}

.premium-global-color-picker-modal
    .components-color-picker__inputs-wrapper
    .components-base-control__field {
    position: relative;
}

.premium-global-color-picker-modal
    .components-color-picker__inputs-wrapper
    .components-base-control__field
    label {
    position: absolute;
    top: 0;
    bottom: 1px;
    left: 2px;
    min-width: 18px;
    margin: 0;
    border-radius: 0;
    background: rgba(238, 238, 238, 0.65);
    font-size: 9px;
    font-weight: 600;
    text-transform: uppercase;

    justify-content: center;
}

.premium-global-color-picker-modal
    .components-color-picker__inputs-wrapper
    .components-base-control__field
    input[type="number"] {
    padding-right: 2px !important;
    padding-left: 20px !important;
    text-align: center;
}

.premium-global-color-picker-modal
    .components-color-picker__inputs-wrapper
    input[type="number"] {
    -moz-appearance: textfield;
}

.premium-global-color-picker-modal
    .components-color-picker__inputs-wrapper
    input[type="number"]::-webkit-inner-spin-button,
.premium-global-color-picker-modal
    .components-color-picker__inputs-wrapper
    input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.premium-global-color-picker-modal
    .components-color-picker__inputs-toggle-wrapper {
    display: flex;
}

.premium-global-color-picker-modal .components-color-picker__inputs-toggle {
    width: 28px;
    height: 30px;
    margin-left: 5px;
    padding: 0;
    border: 1px solid var(--inputBorderColor);
    border-radius: 0;
    cursor: pointer;
    transition: border-color 0.1s linear;

    justify-content: center;
}

.premium-global-color-picker-modal
    .components-color-picker__inputs-toggle:hover {
    background-color: rgba(238, 238, 238, 0.65);
}

.premium-global-color-picker-modal
    .components-color-picker__inputs-toggle:focus {
    outline: none;
    box-shadow: none;
}

.premium-global-color-picker-modal
    .components-color-picker__inputs-toggle:hover {
    color: #1e1e1e;
}

.premium-global-color-picker-modal .components-color-picker__inputs-toggle svg {
    width: 14px;
    height: 14px;
    color: #1e1e1e;
}

.premium-global-color-picker-modal
    .components-color-picker__inputs-toggle
    span {
    display: none;
}

.premium-palettes-preview .premium-global-color-picker-container {
    justify-content: initial;
}

.premium-palettes-modal {
    overflow-y: auto;
    max-height: 450px;
}

.premium-palettes-modal .premium-global-color-picker-container {
    justify-content: initial;
}

.premium-palettes-modal:before {
    display: none;
}

.premium-palettes-modal .premium-single-palette {
    position: relative;
    padding: 16px 25px;
    cursor: pointer;
}

.premium-palettes-modal .premium-tooltip-top {
    display: none;
}

.premium-palettes-preview
    .premium-single-palette
    .premium-color-palette-container {
    display: grid;
    padding: 14px 20px;
    flex-wrap: wrap;
    justify-content: center;
    .premium-pallet-colors {
        display: flex;
    }
    p {
        margin: 10px 0;
    }
    .premium-custom-colors {
        display: flex;
    }
}

.premium-color-palette-container div .premium-global-color-picker-single {
    margin-right: -3px;
}

.premium-palettes-preview
    .premium-single-palette
    .premium-color-palette-container
    div
    .premium-global-color-picker-single
    span {
    width: 42px !important;
    height: 42px !important;
}

.premium-palettes-preview
    .premium-single-palette
    .premium-color-palette-container
    .premium-color-Wrapper:first-child
    .premium-global-color-picker-single
    span
    span
    i.premium-tooltip-top {
    top: -10px;
    left: 5px;
}

.premium-palettes-preview
    .premium-single-palette
    .premium-color-palette-container
    .premium-color-Wrapper:nth-child(5)
    .premium-global-color-picker-single
    span
    span
    i.premium-tooltip-top {
    top: -10px;
}

.premium-palettes-preview
    .premium-single-palette
    .premium-color-palette-container
    .premium-color-Wrapper:first-child
    .premium-global-color-picker-single
    span
    span
    i.premium-tooltip-top::after {
    right: auto;
    left: auto;
}

.premium-palettes-modal
    .premium-single-palette
    .premium-color-palette-container
    div
    .premium-global-color-picker-single
    span {
    width: 36px !important;
    height: 36px !important;
}

.premium-button-palettes-outside {
    margin: 13px 0 10px 0;
}

.premium-button-palette {
    display: block;
    width: 100%;
    padding: 8px 1px;
    border: 1px solid #d1d0d0;
    color: #515256;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

button.premium-save-palette {
    display: block !important;
    width: 100%;
    height: 35px;
    margin: 20px 0 12px 0;
    border: 0;
    border-radius: 0;
    outline: 0;
    color: #fff;
    background-color: var(--primaryColor);
    box-shadow: none;
    font-size: 12px;
    letter-spacing: 0.6px;
    word-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}

button.premium-save-palette:disabled {
    outline: none;
    opacity: 1;
    color: #a7aaad !important;
    background: #f0f0f1 !important;
    box-shadow: none !important;
    text-shadow: none !important;
    cursor: default;
}

.premium-palette-info {
    padding: 0 15px 10px 15px;
}

.premium-palette-info .premium-palette-type-label {
    margin: 6px 0;
    color: #2d3747;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

.premium-palette-info input[type="text"] {
    width: 100%;
    min-height: 30px;
    margin: 0;
    padding: 0 8px;
    border: 1px solid #dfdfdf;
    border-radius: 0;
    line-height: 2;
}

.premium-palette-info input[type="text"]::placeholder {
    color: #848484;
    font-size: 11px;
    font-weight: 200;
    font-style: italic;
}

.premium-palette-info .premium-palette-name {
    margin: 20px 0;
}

.premium-palette-info .premium-Palette-type-container {
    margin: 12px 0;

    justify-content: space-between;
}

.premium-palette-info .premium-Palette-type-wrapper {
    display: flex;
    width: 50%;
    border: 0;
    background: 0 0;

    justify-content: space-between;
}

.premium-palette-info .premium-Palette-type-wrapper span {
    color: #2d3747;
    font-size: 12px;
    font-weight: 500;
}

.premium-palette-info .premium-Palette-type-wrapper button {
    position: relative;
    height: 40px;
    margin: 0;
    padding: 12px 4px;
    border: none;
    color: #fff;
    background: var(--primaryColor);
    box-shadow: none;
    box-shadow: inset 0 0 0 1px #ddd;
    font-size: 11px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    white-space: normal;
    transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);

    -webkit-box-align: center;
    flex: 1 1 0;
    justify-content: center;
}

.premium-palette-info .premium-Palette-type-wrapper button:focus,
.premium-palette-info .premium-Palette-type-wrapper button:active {
    outline: none !important;
    box-shadow: none !important;
}

button.premium-delete-palette {
    display: none;
    position: absolute;
    right: 5px;
    bottom: 25px;
    padding: 0 !important;
    border: 0;
    outline: none;
    color: #9f9fa0 !important;
    background: 0;
    font-family: dashicons;
    text-decoration: none;
    cursor: pointer;
}

button.premium-delete-palette::before {
    padding: 2px 6px;
    font-size: 15px;
    content: "\f182";
}

.premium-palettes-modal
    .premium-single-palette:hover
    button.premium-delete-palette {
    display: inline-block;
}

.premium-color-palette-modal .premium-reset-palette__Wrapper {
    display: flex;
}

.premium-color-palette-modal
    .premium-reset-palette__Wrapper
    button.premium-btn-reset__color {
    height: 34px;
    margin: 0 8px 20px 18px;
    padding: 4px 8px;
    border: 1px solid #ccc;
    line-height: 22px;
    cursor: pointer;
}

.premium-color-palette-modal
    .premium-reset-palette__Wrapper
    p.premium-reset__description {
    margin: 0;
    margin-right: 15px;
    color: #848484 !important;
    font-size: 11px;
    font-style: italic;
    line-height: 1.4;
}

.premium-add-palette-container {
    position: relative;
    padding: 2px;
}

.premium-add-palette-container .button-close-modal {
    position: absolute;
    top: 10px;
    right: 0;
    border: 0;
    color: #848484;
    background: 0 0;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.premium-add-palette-container .button-close-modal svg {
    fill: #848484;
}

.components-modal__frame.premium-color-palette-confrim__delete {
    top: 50%;
    right: auto;
    bottom: auto;
    left: 50%;
    width: 398px !important;
    max-width: calc(100% - -40px);
    height: 193px !important;
    max-height: 90%;
    transform: translate(-50%, -50%);
    animation: components-modal__appear-animation 0.1s ease-out;

    animation-fill-mode: none;
    animation-fill-mode: forwards;
}

.components-modal__frame.premium-color-palette-confrim__delete
    .components-modal__content {
    padding: 0 25px 25px;
}

.components-modal__frame.premium-color-palette-confrim__delete
    .components-modal__content
    .components-modal__header {
    flex-direction: row;
    position: sticky;
    z-index: 10;
    top: 0;
    box-sizing: border-box;
    height: 50px;
    margin: 0 -25px 0;
    padding: 0 23px;
    border-bottom: 1px dashed #a2a3a3;
    background: #fff;

    justify-content: space-between;
}

.components-modal__frame.premium-color-palette-confrim__delete
    .components-modal__content
    .components-modal__header
    .components-modal__header-heading
    .premium-popup-modal__header {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.components-modal__frame.premium-color-palette-confrim__delete
    .components-modal__content
    .components-modal__header
    i {
    width: 16px;
    height: 16px;
    font-size: 16px;
}

.components-modal__frame.premium-color-palette-confrim__delete
    .components-modal__content
    .components-modal__header
    span {
    display: none;
}

.components-modal__frame.premium-color-palette-confrim__delete
    .components-modal__content
    .components-modal__header
    .components-button {
    color: #7c7c7c;
}

.components-modal__frame.premium-color-palette-confrim__delete
    .components-modal__content
    .components-modal__header
    .components-button:focus {
    outline: none;
    box-shadow: none;
}

.components-modal__frame.premium-color-palette-confrim__delete
    .premium-paltette-popup-action
    > * {
    width: 169px;
    height: 28px;
    border-radius: 0;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;

    justify-content: center;
}

.components-modal__frame.premium-color-palette-confrim__delete
    .premium-paltette-popup-action
    .premium-button__delete__palette {
    height: 30px;
    border: 0;
    border: 1px solid #d1d0d0;
    color: #515256;
    background-color: #e4e4e4;
    box-shadow: none;
}

.components-modal__frame.premium-color-palette-confrim__delete
    .premium-pop-modal__header {
    font-size: 14px;
    letter-spacing: 0.3px;
    text-transform: uppercase;

    align-items: center;
}

.components-modal__frame.premium-color-palette-confrim__delete
    .premium-paltette-popup-action {
    width: 100%;
    margin-top: 0;

    justify-content: space-between;
}

.components-modal__frame.premium-color-palette-confrim__delete
    .premium-palette-popup-content {
    margin: 25px 0;
    font-size: 13px;
    line-height: 1.5;
    text-indent: unset;
}

.components-modal__frame.premium-color-palette-confrim__delete
    .premium-palette-popup-content
    .premium-deleted-palette__name {
    font-style: italic;
}

.components-modal__frame.premium-color-palette-confrim__delete
    .premium-paltette-popup-action
    .components-button.has-icon.has-text
    .dashicon {
    margin-right: 2px;
}

.premium-color-palette-container .premium-color-Wrapper:first-child {
    z-index: 10;
}

.premium-color-palette-container .premium-color-Wrapper:nth-child(2) {
    z-index: 9;
}

.premium-color-palette-container .premium-color-Wrapper:nth-child(3) {
    z-index: 8;
}

.premium-color-palette-container .premium-color-Wrapper:nth-child(4) {
    z-index: 7;
}

.premium-color-palette-container .premium-color-Wrapper:nth-child(5) {
    z-index: 6;
}

.premium-color-palette-container .premium-color-Wrapper:nth-child(6) {
    z-index: 5;
}

.premium-color-palette-container .premium-color-Wrapper:nth-child(7) {
    z-index: 4;
}

.premium-option-modal.premium-palettes-modal[data-position="bottom"] {
    top: var(--modal-y-offset);
    transform-origin: center top;
}

.premium-option-modal.premium-palettes-modal[data-position="top"] {
    bottom: var(--modal-y-offset);
    transform-origin: center bottom;
}

.premium-palettes-modal .premium_label_type__palette {
    height: 30px;
    padding: 6px 13px;
    background-color: #efeff1;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}

@media (max-width: 1400px) {
    .premium-palettes-preview
        .premium-single-palette
        .premium-color-palette-container
        div
        .premium-global-color-picker-single
        span {
        width: 38px !important;
        height: 38px !important;
    }

    .premium-palettes-modal
        .premium-single-palette
        .premium-color-palette-container
        div
        .premium-global-color-picker-single
        span {
        width: 32px !important;
        height: 32px !important;
    }
}

@media (min-width: 1400px) and (max-width: 1750) {
    .premium-palettes-preview
        .premium-single-palette
        .premium-color-palette-container
        div
        .premium-global-color-picker-single
        span {
        width: 36px !important;
        height: 36px !important;
    }

    .premium-palettes-modal
        .premium-single-palette
        .premium-color-palette-container
        div
        .premium-global-color-picker-single
        span {
        width: 30px !important;
        height: 30px !important;
    }

    .premium-palette-info {
        margin: 5px;
        padding: 5px;
    }
}

.premium-option-modal.premium-palettes-modal {
    position: absolute;
    left: -1px !important;
}

.premium-color-container {
    display: flex;

    flex-grow: 2;
    justify-content: space-between;
}

span.premium-color-description {
    width: 75%;
}

.premium-color-container header {
    display: flex;
    position: relative;

    align-items: center;
}

.premium-global-color-picker-container {
    display: flex;
    flex-direction: row;
    transition: transform 0.1s ease;

    align-items: center;
    justify-content: flex-end;
}

.premium-global-color-picker-top
    .components-circular-option-picker
    .components-circular-option-picker__swatches {
    display: flex;

    justify-content: space-between;
}

/* Reset Button CSS */
.premium-color-btn-reset-wrap .premium-reset-btn {
    display: flex;
    width: 12px;
    height: 12px;
    padding: 0;
    border: 0;
    border: none;
    outline: 0;
    color: #006ba1;
    background: 0 0;
    background: 0 0;
    box-shadow: none;
    font-family: dashicons;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;

    align-items: center;
    justify-content: center;
}

.premium-color-btn-reset-wrap .premium-reset-btn::before {
    content: "\f531";
    transition: transform 0.3s ease;
    transform: rotate(45deg);
}

.premium-color-btn-reset-wrap .premium-reset-btn:disabled {
    color: rgba(0, 0, 0, 0.2);
    cursor: default;
}

.premium-color-btn-reset-wrap .premium-reset-btn:hover {
    border: none;
    background: transparent;
    box-shadow: none;
}

.premium-color-btn-reset-wrap .premium-reset-btn:hover:not(:disabled)::before {
    transform: rotate(-45deg);
}

.premium-color-btn-reset-wrap .premium-reset-btn:focus {
    border: none;
    background: transparent;
    box-shadow: none;
}

/*   */
.premium-resp-slider-reset-wrap .premium-reset-btn:hover,
.premium-resp-slider-reset-wrap .premium-reset-btn:focus {
    border: none;
    background: transparent;
    box-shadow: none;
}

/** Inside Setting group popup - Colors */
[class*="premium-tooltip"] {
    display: flex;
    visibility: hidden;
    position: absolute;
    z-index: 200;
    width: auto;
    height: auto;
    padding: 4px 6px;
    border-radius: 3px;
    opacity: 0;
    color: #fff;
    background: #363f42;
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    -webkit-font-smoothing: antialiased;
    white-space: pre;
    letter-spacing: initial;
    text-transform: initial;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955),
        transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955),
        visibility 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    pointer-events: none;

    align-items: center;
}

.premium-tooltip-top {
    transform: translate3d(0px, -35px, 0px);
}

[class*="premium-tooltip"][class*="-top"]::before {
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 10px;
}

[class*="premium-tooltip"][class*="-top"]::after {
    right: 0;
    bottom: -5px;
    left: 0;
    width: 10px;
    height: 5px;
    margin: 0 auto;
    border-top: 5px solid #363f42;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

[class*="premium-tooltip"]::before,
[class*="premium-tooltip"]::after {
    position: absolute;
    box-sizing: border-box;
    content: "";
}

.premium-global-color-picker-skins {
    display: flex;
    width: 100%;
    margin: 0;

    align-items: center;
    justify-content: space-between;
}

.premium-global-color-picker-skins li {
    display: flex;
    position: relative;
    width: 26px;
    height: 26px;
    margin-bottom: 0;
    border-radius: 50%;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.09);
    cursor: pointer;

    align-items: center;
    justify-content: center;
}

.premium-global-color-picker-skins li:not(:last-child) {
    margin-right: 6px;
}

.premium-global-color-picker-single {
    margin-right: 6px;
}

.premium-global-color-picker-single > span {
    display: flex;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    background-image: linear-gradient(45deg, #ddd 25%, transparent 25%),
        linear-gradient(-45deg, #ddd 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #ddd 75%),
        linear-gradient(-45deg, transparent 75%, #ddd 75%);
    background-position: 0 0, 0 5px, 5px -5px, -5px 0;
    background-size: 10px 10px;
}

.premium-global-color-picker-single > span span:focus {
    outline: none;
}

.premium-global-color-picker-single > span span:hover .premium-tooltip-top {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0px, -40px, 0px);
}

.premium-color-modal-wrapper {
    display: flex;
    position: relative;
    z-index: 20;
    width: 100%;

    justify-content: center;
}

.premium-global-color-picker-top {
    display: flex;
    padding: 17px;
    border-bottom: 1px solid #eee;

    align-items: center;
    justify-content: space-between;
}

.premium-global-color-picker-skins {
    display: flex;
    margin: 0;
}

.premium-global-color-picker-skins li.active {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.09), 0 0 0 3px #fff;
}

.premium-global-color-picker-skins li.active:before {
    position: absolute;
    z-index: -1;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.07);
    content: "";
}

.premium-global-color-picker-skins li.active:after {
    display: flex;
    position: absolute;
    top: 1px;
    right: 0;
    bottom: 0;
    left: -1px;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    font-family: dashicons;
    font-size: 15px;
    content: "\f147";

    align-items: center;
    justify-content: center;
}

.premium-global-color-picker-skins li.premium-no-color-pill {
    background: rgba(255, 255, 255, 0.8);
}

.premium-global-color-picker-skins li.premium-no-color-pill:after {
    top: initial;
    right: initial;
    bottom: initial;
    left: initial;
    width: 14px;
    height: 2px;
    border-radius: 2px;
    background: #e60606;
    content: "";
    transform: rotate(-40deg);
}

.premium-option-modal {
    position: fixed;
    z-index: 100000;
    right: var(--modal-x-offset);
    box-sizing: border-box;
    width: var(--modalWidth);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    background: #fff;
    box-shadow: var(--option-modal-shadown, 0 15px 15px rgba(0, 0, 0, 0.08));
}

.premium-option-modal[data-position="bottom"] {
    top: calc(var(--modal-y-offset) + var(--modal-y-offset-plus, 13px));
    transform-origin: center top;
}

.premium-option-modal[data-position="top"] {
    bottom: calc(var(--modal-y-offset) + var(--modal-y-offset-plus, 13px));
    transform-origin: center bottom;
}

.premium-option-modal {
    z-index: 500000;
}

.block-editor-page .premium-option-modal {
    --modal-x-offset: 17px !important;
}

[class*="premium-tooltip"]:before,
[class*="premium-tooltip"]:after {
    position: absolute;
    box-sizing: border-box;
    content: "";
}

[class*="premium-tooltip"][class*="-top"]:before {
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 10px;
}

[class*="premium-tooltip"][class*="-top"]:after {
    right: 0;
    bottom: -4px;
    left: 0;
    width: 10px;
    height: 5px;
    margin: 0 auto;
    border-top: 5px solid #363f42;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}
.premium-add-new-color {
    display: flex;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    color: var(--wp-admin-theme-color-darker-10);
    box-shadow: inset 0 0 0 1px var(--wp-admin-theme-color-darker-10);
    cursor: pointer;
}

.premium-add-new-color svg {
    fill: currentColor;
}

.premium-add-new-color:hover .premium-tooltip-top {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0px, -38px, 0px);
}
.premium-color-title {
    margin: 0 20px 20px 20px;
    display: flex;
    flex-direction: column;
    input {
        margin-top: 5px;
    }
}
