.premium-breadcrumb-trail ul {
  list-style: none; }

.premium-breadcrumb-trail .trail-items,
.premium-breadcrumb-trail li {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none; }
  .premium-breadcrumb-trail .trail-items .dashicons,
  .premium-breadcrumb-trail li .dashicons {
    line-height: normal !important; }

.premium-breadcrumb-trail .breadcrumb-sep {
  padding: 0 0.4em; }

.premium-breadcrumb-trail > .prefix {
  margin-right: 0.4em; }

.premium-breadcrumbs-advanced li {
  display: inline-flex;
  overflow: hidden;
  position: relative;
  padding-right: 30px;
  align-items: center;
  margin-right: 3px; }
  .premium-breadcrumbs-advanced li > * {
    line-height: 26px;
    background-color: var(--item-bg-color, var(--pbg-global-color5, #f2f2f2));
    padding: 5px; }
  .premium-breadcrumbs-advanced li::before {
    content: " ";
    display: inline-block;
    width: auto;
    height: auto;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid var(--separator-color, var(--pbg-global-color5, #f2f2f2));
    z-index: 1;
    position: absolute;
    left: calc(100% - 30px); }
