/**
* Common Image Hover Effects
*/
/**
* Unique Image Hover Effects
*/
/**
* Effect 1
*/
/**
* Unique Image Hover Effects
*/
/**
* Multi Person
*/
.premium-person {
  text-align: center; }
  .premium-person .premium-person__img {
    transition: all 0.5s ease-in-out !important; }
  .premium-person img {
    transition: all 0.5s ease-in-out !important;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
    height: 400px;
    border-radius: 0%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }

.premium-person__img {
  display: block;
  position: relative;
  border: none;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  min-width: 100%;
  max-width: 100%; }

.premium-person__inner {
  display: block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.premium-person__img_wrap {
  height: 400px !important;
  width: 100% !important;
  overflow: hidden;
  position: relative; }
  .premium-person__img_wrap img {
    display: block;
    position: relative;
    -webkit-flex-shrink: 0;
    flex-shrink: 0; }

.premium-person__name {
  margin: 0;
  padding: 7px; }

.premium-person__title {
  margin: 0;
  padding: 5px; }

.premium-person__effect2 {
  padding: 0 5px 5px 5px;
  margin: 5px 0 5px 0; }
  .premium-person__effect2 .premium-person__info {
    position: inherit;
    padding-bottom: 20px; }

.premium-person__effect1 {
  padding: 0 5px 5px 5px;
  margin: 5px 0 5px 0; }
  .premium-person__effect1 .premium-person__info {
    position: absolute;
    top: auto;
    left: 5px;
    right: 5px;
    padding: 20px 15px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  .premium-person__effect1 .premium-person__name_wrap {
    -webkit-transition: -webkit-transform 0.35s;
    transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    transition: transform 0.35s, -webkit-transform 0.35s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .premium-person__effect1 .premium-person__title_wrap {
    -webkit-transition: -webkit-transform 0.35s;
    transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    transition: transform 0.35s, -webkit-transform 0.35s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .premium-person__effect1 .premium-person__desc_wrap {
    -webkit-transition: -webkit-transform 0.35s;
    transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    transition: transform 0.35s, -webkit-transform 0.35s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .premium-person__effect1:hover .premium-person__info {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    transform: translate3d(0, 0, 0);
    bottom: -1px !important; }
  .premium-person__effect1:hover .premium-person__name_wrap {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    transform: translate3d(0, 0, 0);
    bottom: -1px !important;
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s; }
  .premium-person__effect1:hover .premium-person__title_wrap {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    transform: translate3d(0, 0, 0);
    bottom: -1px !important;
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s; }
  .premium-person__effect1:hover .premium-person__desc_wrap {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    transform: translate3d(0, 0, 0);
    bottom: -1px !important;
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s; }
  .premium-person__effect1 .premium-person__img {
    -webkit-transition: opacity 0.35s, filter 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, filter 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, filter 0.35s, transform 0.35s;
    transition: opacity 0.35s, filter 0.35s, transform 0.35s, -webkit-transform 0.35s; }
  .premium-person__effect1 img {
    -webkit-transition: opacity 0.35s, filter 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, filter 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, filter 0.35s, transform 0.35s;
    transition: opacity 0.35s, filter 0.35s, transform 0.35s, -webkit-transform 0.35s; }

.premium-person__socialIcon {
  height: 1.2em;
  width: 1.2em;
  font-style: normal !important; }

.premium-person__social-List {
  padding: 0;
  list-style: none !important; }
  .premium-person__social-List li {
    display: inline;
    list-style: none;
    position: relative;
    bottom: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .premium-person__social-List li svg {
      position: relative;
      bottom: 0;
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      margin-right: 7px;
      margin-left: 7px;
      width: 20px;
      height: 20px; }

.facebook:hover {
  background: #3b5998 !important; }

.twitter:hover {
  background: #00aced !important; }

.instagram:hover {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%) !important; }

.youtube:hover {
  background: red !important; }

.google-plus:hover {
  background: #dd4b39 !important; }

.linkedin:hover {
  background: #007bb5 !important; }

.pinterest:hover {
  background: #cb2027 !important; }

.skype:hover {
  background: #00aff0 !important; }

.dribbble:hover {
  background: #ea4c89 !important; }

.vimeo:hover {
  background: #45bbff !important; }

.reddit:hover {
  background: #ff5700 !important; }

.tumblr:hover {
  background: #2c4762 !important; }

.foursquare:hover {
  background: #45bbff !important; }

.flickr:hover {
  background: #f40083 !important; }

.yahoo:hover {
  background: #430297 !important; }

.stumbleupon:hover {
  background: #eb4924 !important; }

.soundcloud:hover {
  background: #ff5500 !important; }

.github:hover {
  background: #0c0a0ce3 !important; }

.whatsapp:hover {
  background: #25d366 !important; }

.stack-overflow:hover {
  background: #ff9900 !important; }

.quora:hover {
  background: red !important; }

.wordpress:hover {
  background: #00749c !important; }

.premium-person__socialIcon__container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid;
  line-height: 2.5em; }

.premium-person__socialIcon__dragHandle {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  flex: 1;
  background: darkgrey;
  border-right: 1px solid;
  cursor: move;
  color: #ffffff;
  align-items: center;
  display: flex !important;
  justify-content: center; }
  .premium-person__socialIcon__dragHandle::before {
    content: "\f142"; }

.premium-person__socialIcon__content {
  font-size: 14px;
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
  width: 90%;
  flex: 12;
  line-height: 2.5em; }

.premium-person__socialIcon__iconvalue {
  padding-right: 2%; }

.premium-person__socialIcon__trashicon {
  font-size: 14px;
  border-left: 1px solid gray;
  line-height: 2.5em;
  flex: 2 1 0%;
  text-align: center; }
  .premium-person__socialIcon__trashicon:hover {
    background: #f44336;
    color: #ffffff;
    cursor: pointer; }

.premium-person__socialIcon__link {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 70% 30%;
  margin-right: 3%;
  height: auto !important; }

.premium-person__socialIcon__saveButton {
  height: 4vh;
  margin-left: 10%; }

.premium-person__inner.premium-person__sepia:hover .premium-person__img {
  -webkit-filter: sepia(30%);
  filter: sepia(30%); }

.premium-person__inner.premium-person__sepia:hover img {
  -webkit-filter: sepia(30%);
  filter: sepia(30%); }

.premium-person__inner.premium-person__bright:hover .premium-person__img {
  -webkit-filter: brightness(1.2);
  filter: brightness(1.2); }

.premium-person__inner.premium-person__bright:hover img {
  -webkit-filter: brightness(1.2);
  filter: brightness(1.2); }

.premium-person__socialIcon__link_content {
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s !important; }
  .premium-person__socialIcon__link_content:hover {
    text-decoration: none;
    color: black;
    display: inline-block; }

.premium-person__img__container {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; }

.premium-person__sortableHelper {
  z-index: 100000;
  list-style: none;
  list-style-type: none; }
  .premium-person__sortableHelper ul {
    list-style: none;
    list-style-type: none; }

.premium-person__socialEffect2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  -js-display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -moz-box-align: center;
  align-items: center;
  box-shadow: inset 0 0 120px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 120px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 0 120px 0 rgba(0, 0, 0, 0.5);
  -ms-box-shadow: inset 0 0 120px 0 rgba(0, 0, 0, 0.5);
  -o-box-shadow: inset 0 0 120px 0 rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
  -webkit-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
  opacity: 0;
  z-index: 99999; }
  .premium-person__socialEffect2:hover {
    opacity: 1; }

.premium-person__effect2.premium-person__translate .premium-person__img {
  -webkit-transform: translateX(-15px) scale(1.1);
  -ms-transform: translateX(-15px) scale(1.1);
  transform: translateX(-15px) scale(1.1); }

.premium-person__effect2.premium-person__translate img {
  -webkit-transform: translateX(-15px) scale(1.1);
  -ms-transform: translateX(-15px) scale(1.1);
  transform: translateX(-15px) scale(1.1); }

.premium-person__effect2.premium-person__translate:hover .premium-person__img {
  -webkit-transform: translateX(0) scale(1.1);
  -ms-transform: translateX(0) scale(1.1);
  transform: translateX(0) scale(1.1); }

.premium-person__effect2.premium-person__translate:hover img {
  -webkit-transform: translateX(0) scale(1.1);
  -ms-transform: translateX(0) scale(1.1);
  transform: translateX(0) scale(1.1); }

.premium-person__effect2.premium-person__zoomin:hover .premium-person__img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2); }

.premium-person__effect2.premium-person__zoomin:hover img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2); }

.premium-person__effect2.premium-person__zoomout:hover .premium-person__img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

.premium-person__effect2.premium-person__zoomout:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

.premium-person__effect2.premium-person__zoomout .premium-person__img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2); }

.premium-person__effect2.premium-person__zoomout img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2); }

.premium-person__effect2.premium-person__scale:hover .premium-person__img {
  -webkit-transform: translate3d(0, 0, 0) scale(1.2) rotate(5deg);
  transform: translate3d(0, 0, 0) scale(1.2) rotate(5deg) !important; }

.premium-person__effect2.premium-person__scale:hover img {
  -webkit-transform: translate3d(0, 0, 0) scale(1.2) rotate(5deg);
  transform: translate3d(0, 0, 0) scale(1.2) rotate(5deg) !important; }

.premium-person__effect2.premium-person__scale .premium-person__img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2); }

.premium-person__effect2.premium-person__scale img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2); }

.premium-person__effect2.premium-person__gray:hover .premium-person__img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.premium-person__effect2.premium-person__gray:hover img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.premium-person__effect2.premium-person__blur:hover .premium-person__img {
  -webkit-filter: blur(3px);
  filter: blur(3px); }

.premium-person__effect2.premium-person__blur:hover img {
  -webkit-filter: blur(3px);
  filter: blur(3px); }

.premium-person__name_wrap .premium-person__name {
  margin: 0 !important; }

.premium-person__title_wrap .premium-person__title {
  margin: 0 !important; }

.premium-person__effect1.hover_true .premium-person__info {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  transform: translate3d(0, 0, 0);
  bottom: -1px !important; }

.premium-person__effect1.hover_true .premium-person__name_wrap {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  transform: translate3d(0, 0, 0);
  bottom: -1px !important; }

.premium-person__effect1.hover_true .premium-person__title_wrap {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  transform: translate3d(0, 0, 0);
  bottom: -1px !important; }

.premium-person__effect1.hover_true .premium-person__desc_wrap {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  transform: translate3d(0, 0, 0);
  bottom: -1px !important; }

.premium-person__effect1.premium-person__zoomout .premium-person__img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2) !important; }

.premium-person__effect1.premium-person__zoomout img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2) !important; }

.premium-person__effect1.premium-person__zoomout:hover .premium-person__img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1) !important; }

.premium-person__effect1.premium-person__zoomout:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1) !important; }

.premium-person__effect1.premium-person__scale .premium-person__img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2) !important; }

.premium-person__effect1.premium-person__scale img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2) !important; }

.premium-person__effect1.premium-person__scale:hover .premium-person__img {
  -webkit-transform: scale(1.2) rotate(5deg);
  transform: scale(1.2) rotate(5deg) !important; }

.premium-person__effect1.premium-person__scale:hover img {
  -webkit-transform: scale(1.2) rotate(5deg);
  transform: scale(1.2) rotate(5deg) !important; }

.premium-person__effect1.premium-person__zoomin:hover .premium-person__img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2) !important; }

.premium-person__effect1.premium-person__zoomin:hover img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2) !important; }

.premium-person__effect1.premium-person__gray:hover .premium-person__img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.premium-person__effect1.premium-person__gray:hover img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.premium-person__effect1.premium-person__blur:hover .premium-person__img {
  -webkit-filter: blur(3px);
  filter: blur(3px); }

.premium-person__effect1.premium-person__blur:hover img {
  -webkit-filter: blur(3px);
  filter: blur(3px); }

.premium-person__effect1.premium-person__translate .premium-person__img {
  -webkit-transform: translateX(-15px) scale(1.1);
  -ms-transform: translateX(-15px) scale(1.1);
  transform: translateX(-15px) scale(1.1); }

.premium-person__effect1.premium-person__translate img {
  -webkit-transform: translateX(-15px) scale(1.1);
  -ms-transform: translateX(-15px) scale(1.1);
  transform: translateX(-15px) scale(1.1); }

.premium-person__effect1.premium-person__translate:hover .premium-person__img {
  -webkit-transform: translateX(0) scale(1.1);
  -ms-transform: translateX(0) scale(1.1);
  transform: translateX(0) scale(1.1); }

.premium-person__effect1.premium-person__translate:hover img {
  -webkit-transform: translateX(0) scale(1.1);
  -ms-transform: translateX(0) scale(1.1);
  transform: translateX(0) scale(1.1); }

.premium-person__column1 {
  display: grid;
  grid-template-columns: 100%; }

.premium-person__column2 {
  display: grid;
  grid-template-columns: 50% 50%; }

.premium-person__column3 {
  display: grid;
  grid-template-columns: 33% 33% 33%; }

.premium-person__column4 {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%; }

.premium-person__column5 {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%; }

.premium-person__column6 {
  display: grid;
  grid-template-columns: 16.667% 16.667% 16.667% 16.667% 16.667% 16.667%; }

/************ Responsive **************/
@media (min-width: 977px) {
  .premium-desktop-hidden {
    display: none !important; } }

@media only screen and (max-width: 976px) and (min-width: 766px) {
  .premium-tablet-hidden {
    display: none !important; } }

@media (max-width: 767px) {
  .premium-mobile-hidden {
    display: none !important; } }
