.premium-blog .slick-list,
.premium-blog .slick-slider,
.premium-blog .slick-track {
  position: relative;
  display: block;
}

.premium-blog .slick-loading .slick-slide,
.premium-blog .slick-loading .slick-track {
  visibility: hidden;
}

.premium-blog .slick-slider {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.premium-blog .slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.premium-blog .slick-list:focus {
  outline: 0;
}

.premium-blog .slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.premium-blog .slick-slider .slick-list,
.premium-blog .slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.premium-blog .slick-track {
  top: 0;
  left: 0;
}

.premium-blog .slick-track:after,
.premium-blog .slick-track:before {
  display: table;
  content: "";
}

.premium-blog .slick-track:after {
  clear: both;
}

.premium-blog .slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir="rtl"] .premium-blog .slick-slide {
  float: right;
}

.premium-blog .slick-slide img {
  display: block;
}

.premium-blog .slick-slide.slick-loading img {
  display: none;
}

.premium-blog .slick-slide.dragging img {
  pointer-events: none;
}

.premium-blog .slick-initialized .slick-slide {
  display: block;
}

.premium-blog .slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.premium-blog .slick-arrow.slick-hidden {
  display: none;
}

.premium-blog {
  padding: 45px;
}

.premium-blog .slick-prev,
.premium-blog .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: auto;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: #aaa;
  border: 1px solid #aaa;
  outline: none;
  background: transparent;
  border-radius: 0;
}

.premium-blog .slick-prev:before,
.premium-blog .slick-next:before {
  font-size: 35px;
  line-height: 1;
  opacity: 0.75;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.premium-blog .slick-prev:before,
[dir="rtl"] .premium-blog .slick-prev:before,
.premium-blog .slick-next:before,
[dir="rtl"] .premium-blog .slick-next:before {
  content: "";
  font-size: 0;
  line-height: 0;
}

.premium-blog .slick-prev {
  left: -45px;
  z-index: 1;
  border-radius: 0;
}

[dir="rtl"] .uagb-tm__arrow-outside.premium-blog .slick-prev {
  left: auto;
  right: -45px;
}

.premium-blog button.slick-arrow {
  padding: 7px;
}

.premium-blog .slick-prev i,
.premium-blog .slick-next i,
.premium-blog .slick-prev i:hover,
.premium-blog .slick-next i:hover,
.premium-blog .slick-prev i:focus,
.premium-blog .slick-next i:focus {
  font-size: 20px;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.6em;
  text-align: center;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.premium-blog ul.slick-dots {
  padding-top: 0;
  display: block;
  position: absolute;
  margin: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  text-align: center;
}

.premium-blog ul.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.premium-blog ul.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}

.premium-blog ul.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.premium-blog ul.slick-dots li button:before {
  font-family: none;
  font-size: 30px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 976px) {
  .premium-blog {
    padding: 0;
  }
}
