/**************** Premium Dual Heading *****************/
/*******************************************************/
.wp-block-premium-dheading-block {
    background: red;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    color: #fff;
}
.premium-dheading-left {
    text-align: left;
}
.premium-dheading-center {
    text-align: center;
}
.premium-dheading-right {
    text-align: right;
}
.wp-block-premium-dheading-block .premium-dheading-first,
.wp-block-premium-dheading-block .premium-dheading-second {
    margin-bottom: 0;
}