.wp-block-premium-navigation {
    > div:not(.premium-navigation__responsive-container.is-menu-open) {
        .premiun-mega-menu {
            .premium-navigation__submenu-container {
                display: grid;
                grid-template-columns: var(--gridTemplateColummns, 1fr);
                box-sizing: border-box;
                &.col-1 {
                    --gridTemplateColummns: minmax(0, 1fr);
                }
                &.col-2 {
                    --gridTemplateColummns: repeat(2, minmax(0, 1fr));
                }
                &.col-3 {
                    --gridTemplateColummns: repeat(3, minmax(0, 1fr));
                }
                &.col-4 {
                    --gridTemplateColummns: repeat(4, minmax(0, 1fr));
                }
                &.col-5 {
                    --gridTemplateColummns: repeat(5, minmax(0, 1fr));
                }
                &.col-6 {
                    --gridTemplateColummns: repeat(6, minmax(0, 1fr));
                }
                &.layout-right-golden {
                    --gridTemplateColummns: 1fr 2fr;
                }
                &.layout-left-golden {
                    --gridTemplateColummns: 2fr 1fr;
                }
                &.layout-center-wide {
                    --gridTemplateColummns: 2fr 6fr 2fr;
                }
                &.layout-left-half {
                    --gridTemplateColummns: 2fr 1fr 1fr;
                }
                &.layout-right-half {
                    --gridTemplateColummns: 1fr 2fr 1fr;
                }
                &.layout-center-half {
                    --gridTemplateColummns: 1fr 2fr 1fr;
                }
                &.layout-center-forty {
                    --gridTemplateColummns: 1fr 2fr 2fr 1fr;
                }
                &.layout-right-forty {
                    --gridTemplateColummns: 1fr 1fr 1fr 2fr;
                }
                &.layout-left-forty {
                    --gridTemplateColummns: 2fr 1fr 1fr 1fr;
                }
                &.layout-center-five-forty {
                    --gridTemplateColummns: 1fr 1fr 3fr 1fr 1fr;
                }
                &.layout-right-five-forty {
                    --gridTemplateColummns: 1fr 1fr 1fr 1fr 3fr;
                }
                &.layout-left-six-heavy {
                    --gridTemplateColummns: 2fr 1fr 1fr 1fr 1fr 1fr;
                }
                &.layout-six-six-heavy {
                    --gridTemplateColummns: 1fr 1fr 2fr 2fr 1fr 1fr;
                }
                &.layout-row {
                    --gridTemplateColummns: minmax(0, 1fr);
                }
                &.layout-two-grid {
                    --gridTemplateColummns: repeat(2, 1fr);
                }
                &.layout-first-row,
                &.layout-last-row {
                    --gridTemplateColummns: 1fr 1fr;
                }
                .wp-block-premium-navigation-submenu {
                    display: block;
                    .premium-navigation__submenu-container {
                        position: static !important;
                        visibility: visible !important;
                        opacity: 1 !important;
                        width: auto !important;
                        min-width: auto !important;
                        display: block !important;
                        height: auto !important;
                        border: 0;
                    }
                    .premium-navigation__submenu-icon {
                        display: none;
                    }
                }
            }
        }
    }
}
