@import "node_modules/@wordpress/base-styles/colors";
@import "node_modules/@wordpress/base-styles/variables";
@import "node_modules/@wordpress/base-styles/mixins";
@import "node_modules/@wordpress/base-styles/breakpoints";
@import "node_modules/@wordpress/base-styles/animations";
@import "node_modules/@wordpress/base-styles/z-index";
@import "node_modules/@wordpress/base-styles/default-custom-properties";

.premium-navigation {
    // Block wrapper gets the classes in the editor, and there's an extra div wrapper for now, so background styles need to be inherited.
    .premium-page-list > div,
    .premium-page-list {
        background-color: inherit;
    }

    // space-between justification.
    &.items-justified-space-between {
        .premium-page-list > div,
        .premium-page-list {
            display: contents;
            flex: 1;
        }

        &.has-child-selected .premium-page-list > div,
        &.has-child-selected .premium-page-list,
        &.is-selected .premium-page-list > div,
        &.is-selected .premium-page-list {
            flex: inherit;
        }
    }
}

// Make links unclickable in the editor.
.premium-pages-list__item__link {
    pointer-events: none;
}

// Modal that shows conversion option.
.premium-page-list-modal {
    @include break-small() {
        max-width: $break-mobile;
    }
}

.premium-page-list-modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: $grid-unit-15;
}

// Simulate open on click behaviour in the editor by opening on focus instead.

.premium-page-list {
    .open-on-click:focus-within {
        > .premium-navigation__submenu-container {
            visibility: visible;
            opacity: 1;
            width: auto;
            height: auto;
            min-width: 200px;
        }
    }
}

.premium-page-list .components-notice {
    margin-left: 0;
}
