@keyframes "blink_cursor" {
    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@-webkit-keyframes "blink_cursor" {
    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@-moz-keyframes "blink_cursor" {
    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink_cursor 0.7s infinite;
    animation: blink_cursor 0.7s infinite;
}

.premium-fancy-slide {
    display: inline-block;

    .typed-cursor {
        visibility: hidden;
    }
}
.premium-fancy-text {
    text-align: center;
}

.premium-fancy-text-title-slide {
    display: inline-block;
    text-align: center;
    top: 13px;
}

.premium-fancy-text-title-slide-list {
    list-style: none !important;
    margin: 0px 3px;
    position: relative !important;

    li {
        line-height: 40px;
    }
}
